{{ define "main" }}
<style>
  img {
    max-width: 100%;
  }
  #hc-hero {
    background: #0e3b5c;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  #hc-hero .preheading {
    margin:0;
  }
  #hc-hero h1 {
    font-weight: 800;
    font-size: 2.3rem;
  }
  #hc-hero h2 {
    font-size: 1.7rem;

  }
  #hc-hero img {
    border-radius: 1rem;
  }
  #hc-hero .row {
    align-items: center;
  }
  .description {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top:1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;

  }
  .btn-row {
    text-align: center;
  }
  .btn-row div {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .btn-box {
    width: 100%;
    background: white;
    display: block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  .btn-box:hover {
    text-decoration: none;
    color: black;
  }
  .btn-box i {
    display: block;
    margin-bottom: 0.2rem;
  }
  .blue {
    background: #24c2ff;
  }
  .green {
    background: #86da2f;
  }
  .yellow {
    background: #ffcb12;
  }
  .red {
    background: #ff4649;
  }

  #hc-get {
    margin-bottom: 2rem;
    text-align: center;
  }
#hc-get h2 {
  text-align: center;
  border-bottom: 2px solid #13517e;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
#hc-get h3 {
  margin: 0;
}
.mixed-text  {
  line-height:48px;
  font-size:32px;
}
.mixed-text img {
  display: inline;
}

/*RESPONSIVE QUERIES */
  @media(max-width: 991px){
    .m-hide {
      display: none;
    }
  }
/*END RESPONSIVE QUERIES */
</style>
<section id="hc-hero">
  <div class="container px-0 al-py-lg">  
    <div class="row">
      <div class="col-lg-6">
        <p class="preheading">AlmaLinux OS Foundation's</p>
        <h1>Hardware Certification</h1>
        <h2>Compatibility you can trust.</h2></h2->
        <p class="description">The AlmaLinux Hardware Certification Program ensures hardware compatibility and promotes OS adoption through community-led, flexible pathways.  Designed for long-term reliability and performance.</p>
        <div class="row btn-row">
          <div class="col-4">
            <a class="btn-box blue" href="#"><i class="bi bi-journal-check"></i>Certified</a>
          </div>
          <div class="col-4">
            <a class="btn-box green" href="#"><i class="bi bi-journal-medical"></i>Certify</a>
          </div>
          <div class="col-4">
            <a class="btn-box yellow" href="#"><i class="bi bi-headset"></i>Contact</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 imgswitch">
        <img src="https://matt8.com/u/files/1.png">
      </div>
    </div>
  </div>
</section>
<section id="hc-get">
  <div class="container px-4 al-py-lg">  
    <h2>Get AlmaLinux OS HW Certification Suite</h2>

    <div class="row">
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col-12 mt-4 mb-4">
        <h3>This full width div is full width!</h3>
      </div>

      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
      <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col-12 mt-4 mb-4 mixed-text">
        <p>This full width div contains some images <img src="https://placehold.co/32x32"> I'm not sure whether we would be dealing with larger images but if we are we would need to take a different approach. In a case like that we would likely either add bootstrap columns or make it to where the images are floats.  Either way it does have some neat images <img src="https://placehold.co/32x32/orange/green"> so it is a start.  For this example I've set the text size to match the image size and given the paragraph a line-height of TEXT-SIZE = (TEXT-SIZE + TEXT-SIZE*.5)</p>
      </div>
    </div>
    <!--<div class="row">
      <div class="lg-4">
        <i class="bi bi-github h1"></i>
      </div>
      <div class="lg-8 ml-3">
        <h3>GitHub Repository</h3>
        <a href="https://github.com/AlmaLinux/Hardware-Certification-Suite">https://github.com/AlmaLinux/Hardware-Certification-Suite</a>
      </div>
    </div>
  </div>
-->
</section>
{{ end }}