{% extends 'layouts/base.html' %}
{% load i18n %}
{% load i18n_utils %}
{% load static %}
{% load encore %}
{% load urls %}
{% load humanize %}

{% block title %}{{ post.title }} - AlmaLinux OS Blog{% endblock %}
{% block description %}{% if post.excerpt %}{{ post.excerpt }}{% else %}{% translate 'An Open Source, community owned and governed, forever-free enterprise Linux distribution.' %}{% endif %}{% endblock %}

{% block head_end %}
    {% encore_entrypoint_css 'page_blog' %}
{% endblock %}
{% block body_end %}
    {% encore_entrypoint_js 'page_blog' %}
{% endblock %}
{% block og_properties %}
    {% get_current_language as CURRENT_LANG %}

    <meta property="og:title" content="{{ post.title }} - AlmaLinux OS Blog">
    <meta property="og:description" content="{{ post.excerpt }}">
    {% if post.featured_image %}
        <meta property="og:image" content="{% absolute_url_from_relative post.featured_image.url %}">
    {% else %}
        <meta property="og:image" content="{% absolute_url_from_relative '/static/images/hero.png' %}">
    {% endif %}
    <meta property="og:url" content="{% absolute_url_from_relative request.get_full_path %}">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:locale" content="{{ CURRENT_LANG }}" />
{% endblock %}

{% block body %}
    <section class="al-page-blog-post" dir="{% text_direction post.language %}">
        <div class="container py-5">
            <h1 class="al-section-title mb-3">{{ post.title }}</h1>
            <article>
                <div class="al-article-date d-flex align-items-center pb-4"
                     title="{{ post.date|date }} {{ post.date|time }}"
                     dir="{% text_direction CURRENT_LANG %}">
                    <i class="bi bi-calendar pe-1"></i>
                    <span>{{ post.date|naturaltime }}</span>
                </div>
                {% if post.featured_image %}
                    <div class="al-article-feature mb-4">
                        <img src="{{ post.featured_image.url }}"
                             class="d-block mx-lg-auto img-fluid"
                             alt="{{ post.title }}"
                             loading="lazy">
                    </div>
                {% endif %}
                <div class="al-article-content pb-5 al-wysiwyg">
                    {{ post.content_html|safe }}
                </div>
            </article>
            <div class="al-blog-pagination mt-3">
                {% if previous_post %}
                    <a href="{% url 'blog_post' previous_post.slug %}" class="al-blog-previous-button">
                        <span>{% translate '&laquo; Previous' %}</span>
                    </a>
                {% endif %}

                {% if next_post %}
                    <a href="{% url 'blog_post' next_post.slug %}" class="al-blog-next-button">
                        <span>{% translate 'Next &raquo;' %}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
