<!--This template is used to modify admin panel for a slightly more "native" feel-->
{% extends "admin/base.html" %}
{% load encore %}
{% block extrahead %}
    {% encore_entrypoint_css 'admin' %}
{% endblock %}
{% block footer %}
    {% encore_entrypoint_js 'admin' %}
    {% if has_permission %}
        <footer id="main-footer">
            &copy; {% now 'Y' %} AlmaLinux OS Foundation | <a href="{% url 'admin:manual' %}">Admin manual</a>
        </footer>
    {% else %}
        <div id="footer"></div>
    {% endif %}
{% endblock %}
