{{ define "main" }}
  <div class="al-body-container" style="margin: auto;">
    <section class="al-page-blog-post" dir="ltr">
      <div class="container py-5">
        <a
          href="/newsletters/"
          class="al-article-back d-inline-flex align-items-center mb-3 text-decoration-none small">
          <i class="bi bi-chevron-left pe-1"></i>
          <span>{{ i18n "All newsletters" }}</span>
        </a>
        <h1 class="al-section-title mb-3">{{ .Title }}</h1>
        <article>
          <div
            class="al-article-date d-flex align-items-center pb-4"
            title=""
            dir="ltr">
            <i class="bi bi-calendar pe-1"></i>
            <span>{{ .Date.Format "Mon Jan 2, 2006" }}</span>
          </div>

          <div class="al-article-content pb-5 al-wysiwyg">
            {{ with .Params.image }}
              <div class="mx-auto mb-4" style="max-width: 850px">
                <img
                  style="max-width: 100%; height: auto;"
                  src="{{ . }}"
                  alt="{{ $.Title }}" />
              </div>
            {{ end }}

            {{ .Content }}
          </div>
        </article>
        <div class="al-blog-pagination mt-3">
          {{ if .PrevInSection }}
            <a
              class="al-blog-previous-button"
              href="{{ .PrevInSection.RelPermalink }}">
              <span>« {{ i18n "Previous" }}</span>
            </a>
          {{ end }}

          {{ if .NextInSection }}
            <a
              class="al-blog-next-button"
              href="{{ .NextInSection.RelPermalink }}">
              <span> {{ i18n "Next" }} »</span>
            </a>
          {{ end }}
        </div>
      </div>
    </section>
  </div>
{{ end }}
