{{ define "main" }}
<style>
  img {
    max-width: 100%;
  }
  #hc-hero {
    background: #0e3b5c;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  #hc-hero h1 {
    font-weight: 800;
    font-size: 2.3rem;
  }
  #hc-hero h2 {
    font-size: 1.7rem;

  }
  #hc-hero img {
    border-radius: 1rem;
  }
  #hc-hero .row {
    align-items: center;
  }
  .btn-row {
    text-align: center;
  }
  .btn-row div {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .btn-box {
    width: 100%;
    background: white;
    display: block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  .btn-box:hover {
    text-decoration: none;
    color: black;
  }
  .btn-box i {
    display: block;
    margin-bottom: 0.2rem;
  }
  #hc-get {
    margin-bottom: 2rem;
    text-align: left;
  }
#hc-get h2 {
  text-align: center;
  border-bottom: 2px solid #13517e;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
#hc-get h3 {
  margin: 0;
}
.mixed-text  {
  line-height:48px;
  font-size:32px;
}
.mixed-text img {
  display: inline;
}

/*RESPONSIVE QUERIES */
  @media(max-width: 991px){
    .m-hide {
      display: none;
    }
  }
/*END RESPONSIVE QUERIES */
</style>
<!-- HERO -->
<section id="hc-hero">
  <div class="container px-0 al-py-lg">  
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold">The AlmaLinux Certification Program</h1>
        <p class="lead mb-5 mb-md-3">The AlmaLinux Certification Program focuses on no-cost assurances of compatibility for its community. Stable, secure, and trusted performance is key for users of AlmaLinux, and that starts here.</p>
        <div class="row btn-row">
          <div class="d-grid d-md-flex justify-content-md-start">
            <a class="btn al-cta-blue" href="/certification/hardware-certification/"><i class="bi bi-server"></i> Hardware</a>
          </div>
          <div class="d-grid d-md-flex justify-content-md-start">
            <a class="btn al-cta-green" href="/certification/software-certification/"><i class="bi bi-people-fill"></i> Software</a>
          </div>
          <div class="d-grid d-md-flex justify-content-md-start">
            <a class="btn al-cta-yellow" href="https://wiki.almalinux.org/sigs/Certification.html"><i class="bi bi-people-fill"></i> Get involved</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 imgswitch">
        <img src="/images/certificationimages/certificationpagehero.png">
      </div>
    </div>
  </div>
</section>
<!-- start page content -->
<section id="hc-get">
  <div class="container px-4 al-py-lg">  
    <h2>A Certification Program Built with Everyone in Mind</h2>
    <div class="row px-4 pb-4">
      <div class="col-lg-6">
		<h3 class="pb-3">For consumers</h3>
	    <p><b>Compatibility you can trust for performance, reliability, and stability</b></p>
		<p>Navigating the fluctuating compatibility and dependencies for your environment is hard enough without having to dig into your operating system. Make the best use of your time by checking list of compatible solutions for your needs,  environment.</p>
		<p>The full list of certified hardware and software is available in the <a href="/certification/ecosystem-catalog/">Ecosystem Catalog</a>. If you don't see what you need, you can either send a request to the Certification SIG, or join the Certification SIG chat room to ask about it. You can also find our entire our open source hardware certification suite <i class="bi bi-github p"></i> <a href="https://github.com/AlmaLinux/Hardware-Certification-Suite">on GitHub</a>.</p>
        <div class="btn-row">
          <a class="btn btn-primary btn-block p-2" href="https://github.com/AlmaLinux/certifications"><i class="bi bi-people-fill"></i> Request Certification</a>
      	</div>
	  </div> <!-- end column 1 -->
      <div class="col-lg-6">
		<h3 class="pb-3">For providers</h3>
	    <p><b>No-cost, high-value certification, with support from the experts.</b></p>
        <p>Certifying in the Linux ecosystem is too often a tedious, painful process. The AlmaLinux Certification SIG has partnered with some of the biggest hardware and software providers in the world to develop the <a href="/certification/hardware-certification/hardware-certification-program/">Certification Program</a> with a goal of being as quick and easy as possible.</p>
		<h4 class="pb-3">Test your software - coming soon!</h4>
		<p>Software certification is still in the works. Want to help out? Join the Certification SIG!</p>
		<h4 class="pb-3">Test your hardware</h4>
		 <p>Start the processes to get hardware certified by clicking below, or take a look at our open source certification suite <i class="bi bi-github p"></i> <a href="https://github.com/AlmaLinux/Hardware-Certification-Suite">on GitHub</a></p>
        <div class="btn-row pt-3">
          <a class="btn btn-primary btn-block p-2" href="/certification/hardware-certification/">Get Certified</a>
	  	</div>
      </div>
	</div><!-- end consumer row -->
	</div>
</section>
{{ end }}