{
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-go-template"],
  "overrides": [
    {
      "files": ["*.html", "layouts/_default/index.json"],
      "options": {
        "parser": "go-template"
      }
    }
  ]
}
