version: '3'

services:
  web:
    image: almalinux.org:latest
    restart: unless-stopped
    links:
      - mariadb
    volumes:
      - /var/www/almalinux.org/media:/app/media/
      - /var/www/almalinux.org/current/public/static/:/app/static/
      - .env:/app/.env
    ports:
      - '127.0.0.1:9000:9000' # uWSGI

  mariadb:
    image: mariadb:10
    container_name: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mariadb:/var/lib/mysql
    ports:
      - '127.0.0.1:3306:3306'

volumes:
  mariadb:
    driver: local
