[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.2"
mysqlclient = "~=2.0.3"
Pillow = "~=8.2.0"
python-dotenv = "~=0.17.1"
PyYAML = "~=5.4.1"
django-quill-editor = "~=0.1.22"
uWSGI = "~=2.0"
requests = "~=2.25"
Markdown = "~=3.3"

# Temporay for posts migration
markdownify = "*"

[dev-packages]
mypy = "*"
django-stubs = "*"

[requires]
python_version = "3.8"
