{{ define "main" }}
<style>
  .text-underline {
    text-decoration: underline;
  }
  .al-get-sup-detail .al-get-sup-d-item {
    background: #0e3b5c;
  }
  .al-get-sup-d-item p {
    line-height: 24px;
  }
  .al-get-sup-d-item.head {
    background: #0a304b;
  }
  .al-get-sup-wrap {
    position: relative;
  }
  .al-get-sup-wrap:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #0e3b5c;
    width: 100%;
    height: 500px;
    z-index: -1;
  }
  .bg-grey {
    background: #f0efee !important;
  }
  .al-get-sup-d-item a {
    color: #42b0df;
    font-size: 15px;
  }
  .bg-dark-grey {
    background: #e5e4e2 !important;
  }
  .al-get-sup-d-item.no-padding ul {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
  }
  .bg-light-green {
    background: #dfffe8 !important;
  }
  .al-page-index.al-get-sup-wrap {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .bg-pink {
    background: #f6edff !important;
  }

  @media (max-width: 450px) {
    .al-page-index.al-get-sup-wrap {
      padding-top: 0;
      padding-bottom: 0;
    }
    .al-get-sup-d-item.no-padding ul {
      display: block;
    }
    .al-get-sup-d-item.no-padding ul li:nth-child(2n + 1) {
      border-right: 0px solid #000;
    }
    .al-get-sup-header {
      margin-bottom: 0px !important;
    }
  }
</style>

<div class="al-body-container">
  <section class="al-page-index al-get-sup-wrap">
    <div class="al-index-security-measures-container">
      <div class="container al-py-lg">
        <!-- Get support page inner start-->
        <div class="row al-get-sup-inner">
          <div class="col-lg-10 mb-5 al-get-sup-header">
            <h1 class="display-5 fw-bold lh-1 mb-4 mb-md-4">{{ i18n "Get Support" }}</h1>
            <p class="lead lh-base mb-5 mb-md-3">
              {{ i18n "AlmaLinux is a community-driven, open-source operating system built to provide a reliable and stable platform for enterprises and developers alike. Whether you’re running mission-critical applications or experimenting with development environments, having access to quality support is crucial for success." }}
            </p>

            <p class="lead lh-base mb-5 mb-md-3">
              <strong>
                {{ i18n "Fortunately, all AlmaLinux users have access to a wealth of options when it comes to community-powered support resources as well as third-party commercial support:" }}
              </strong>
            </p>
          </div>

          <div class="col-lg-6">
            <div class="al-get-sup-detail border border-white left">
              <div class="al-get-sup-d-item p-4 border-bottom border-white head">
                <div class="thumb mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-people-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"
                    />
                  </svg>
                </div>
                <h4 class="fw-bold mb-3">{{ i18n "Community Support" }}</h4>
                <p class="mb-0">
                  {{ i18n "The AlmaLinux community is vibrant, highly active, and deeply committed to supporting users at every level of expertise. It serves as an online village of knowledge-sharing and collaboration, providing an invaluable network for troubleshooting, exchanging advice, and discussing best practices." }}
                </p>
              </div>

              <div class="al-get-sup-d-item p-4 border-bottom border-white">
                <h5 class="fw-bold mb-3">{{ i18n "Community Chat" }}</h5>
                <p>
                  {{ i18n "Join a real time discussion with other AlmaLinux OS community members, governance team and AlmaLinux OS developers." }}
                </p>
                <a class="fw-bold" href="https://chat.almalinux.org/" target="_blank">{{ i18n "ENGAGE" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4 border-bottom border-white">
                <h5 class="fw-bold mb-3">{{ i18n "Community Forums" }}</h5>
                <p>
                  {{ i18n "Ask questions, get answers and contribute community support to others in AlmaLinux OS community and developers alike." }}
                </p>
                <a class="fw-bold" href="https://forums.almalinux.org/" target="_blank">{{ i18n "DISCOVER" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4 border-bottom border-white">
                <h5 class="fw-bold mb-3">{{ i18n "GitHub" }}</h5>
                <p>
                  {{ i18n "Our GitHub organization contains source code and tools used to build AlmaLinux OS and related infrastructure." }}
                </p>
                <a class="fw-bold" href="https://github.com/AlmaLinux/" target="_blank">{{ i18n "EXPLORE" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4 border-bottom border-white">
                <h5 class="fw-bold mb-3">{{ i18n "Reddit" }}</h5>
                <p>
                  {{ i18n "Join our vibrant Reddit community, interact with other AlmaLinux OS users, receive updates, find and provide help." }}
                </p>
                <a class="fw-bold" href="https://www.reddit.com/r/AlmaLinux/" target="_blank">{{ i18n "DISCOVER" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4 border-bottom border-white">
                <h5 class="fw-bold mb-3">{{ i18n "AlmaLinux Wiki" }}</h5>
                <p>
                  {{ i18n "The AlmaLinux Wiki is a comprehensive resource hub offering detailed information on the project’s history, development, installation, migration, release notes, foundation, and support, while inviting community contributions to continually expand its wealth of knowledge." }}
                </p>
                <a class="fw-bold" href="https://wiki.almalinux.org/" target="_blank">{{ i18n "EXPLORE" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4">
                <h5 class="fw-bold mb-3">{{ i18n "Join Mailing Lists" }}</h5>
                <p>
                  {{ i18n "Connects with a variety of specialized and valuable mailing lists, including announcement updates, development discussions, documentation and infrastructure insights, HPC & AI SIG topics, mirror hosting guidance, security discussions, newsletters, and even support in Arabic." }}
                </p>
                <a class="fw-bold" href="https://lists.almalinux.org/mailman3/lists/"
                  target="_blank">{{ i18n "JOIN NOW" }}</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="al-get-sup-detail border border-white right">
              <div class="al-get-sup-d-item p-4 head">
                <div class="thumb mb-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="40"
                    height="40"
                    fill="currentColor"
                    class="bi bi-buildings-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z"
                    />
                  </svg>
                </div>
                <h4 class="fw-bold mb-3">{{ i18n "Commercial Support" }}</h4>
                <p class="mb-0">
                  {{ i18n "For organizations that require dedicated, enterprise-grade assistance, there are a few options for paid AlmaLinux support out there. These providers ensure the stability, security, and scalability of your systems while tailoring their services to meet your business requirements." }}
                </p>
              </div>

              <div class="al-get-sup-d-item p-4 bg-grey text-black">
                <div class="thumb mb-3">
                  <img src="/images/logo-txc.svg" alt="TuxCare" />
                </div>
                <h5 class="fw-bold text-dark mb-3">{{ i18n "Platinum Sponsor + Founder" }}</h5>
                <p class="mb-0 text-dark">
                  {{ i18n "TuxCare, a division of CloudLinux Inc., the founding sponsor of the AlmaLinux OS Project, provides tailored support to enhance the performance, security, and reliability of your AlmaLinux workloads." }}
                </p>
              </div>

              <div class="al-get-sup-d-item no-padding bg-dark-grey border-top border-dark text-center">
                <h5 class="fw-bold text-dark p-4 mb-0 border-bottom border-dark">{{ i18n "TuxCare’s Enterprise Support for AlmaLinux" }}</h5>
                <ul class="p-0 m-0 text-left">
                  <li class="p-4 d-block text-dark border-bottom border-right border-dark">
                    <strong class="d-block mb-2 text-underline">{{ i18n "Get Technical Support" }}</strong> {{ i18n "(Migration, Applications)" }}
                  </li>
                  <li class="p-4 d-block text-dark border-bottom border-dark">
                    <strong class="d-block mb-2 text-underline">{{ i18n "Get Help with Certification" }}</strong> {{ i18n "(FedRAMP, ISO-27001, SOC2, NIS 2, CC, software, hardware)" }}
                  </li>
                  <li class="p-4 d-block text-dark border-bottom border-right border-dark"><strong class="d-block mb-2 text-underline">{{ i18n "Get FIPS 140-3 Compliance" }}</strong></li>
                  <li class="p-4 d-block text-dark border-bottom border-dark">
                    <strong class="d-block mb-2 text-underline">{{ i18n "Get Security Hardening" }}</strong> {{ i18n "Support (CIS, STIG)" }}
                  </li>
                </ul>
                <a class="fw-bold d-block p-4" href="https://tuxcare.com/buy/almalinux/" target="_blank">{{ i18n "Buy Support Online Now" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4 bg-light-green text-black">
                <p class="mb-3 text-dark">{{ i18n "For Japan-based AlmaLinux users:" }}</p>
                <div class="thumb mb-3">
                  <img src="/images/logo-cybertrust.png" alt="TuxCare" />
                </div>
                <h5 class="fw-bold text-dark mb-3">{{ i18n "Platinum Sponsor" }}</h5>
                <p class="text-dark">
                  {{ i18n "Cybertrust Japan is a provider of comprehensive security certification services to various public and private entities globally, and offers comprehensive support for AlmaLinux users – having also produced MIRACLE LINUX for nearly 20 years." }}

                </p>
                <a class="fw-bold" href="https://www.cybertrust.co.jp/almalinux/"
                  target="_blank">{{ i18n "GET SUPPORT" }}</a>
              </div>

              <div class="al-get-sup-d-item p-4 bg-pink text-black">
                <div class="thumb mb-3">
                  <img src="/images/logo-ol.png" alt="TuxCare" />
                </div>
                <h5 class="fw-bold text-dark mb-3">{{ i18n "Silver Sponsor" }}</h5>
                <p class="text-dark">
                  {{ i18n "Confidently deploy AlmaLinux and all your open source packages with enterprise-grade, 24/7/365 support backed by guaranteed SLAs. Keep your mission-critical apps running smoothly with unlimited tickets and direct access to experienced enterprise architects who put your business first." }}
                </p>
                <a class="fw-bold" href="https://www.openlogic.com/solutions/enterprise-linux-support/almalinux"
                  target="_blank" >{{ i18n "GET SUPPORT" }}</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Get support page inner end-->
      </div>
    </div>
  </section>
</div>

{{ end }}
