{% extends "admin/base_site.html" %}

{% block content %}
    <!-- TODO : this really shouldn't be HTML -->
    <div>
        <section class="admin-section">
            <h2>Canonical names (slugs), languages</h2>
            <div class="admin-section-content fixed-text">
                <p>
                    Website content, such as pages and blog posts have a canonical name, often called "slug".
                    Slugs are used to provide an unique URL for each content item. Slugs are unique
                    for each content item and do not change between languages.
                </p>
                <p>
                    Slugs are NOT unique - each content class (blog, page) can have one or more items
                    marked with the same slug.
                </p>
                <p>
                    For example, the same slug can be used for the same content class with different
                    content language to provide localization for content.
                </p>
                <p>
                    It is also possible to temporarily replace content item by setting a publication date
                    after the publication date of an existing item to either temporarily or permanently override
                    content for the same slug.
                </p>
            </div>
        </section>
        <section class="admin-section">
            <h2>Multilingual content resolution</h2>
            <div class="admin-section-content fixed-text">
                <p>
                    All content is, by default, loaded using the locale the visitor has chosen. If the content
                    is not available, for example, a page, etc. using the users locale, English language content
                    will be used instead.
                </p>
            </div>
        </section>

    </div>
{% endblock %}
