{{ define "main" }}
    
    <section class="al-page-elevate-index">
        <div class="container">
            <div class="row al-py-lg align-items-center">
                <div class="col-12 col-lg-4 al-py-lg pe-md-3">
                    <h3 class="fw-bold pb-3">
                        {{ i18n "ELevate Your Distribution" }}
                    </h3>
                    <div class="al-subtle-links pb-2">
                        <p>

                            {{ i18n "ELevate enables migration between major versions of RHEL® derivatives." }}
                            {{ i18n "Move from CentOS 7.x to 8.x version of the RHEL derivative of your choice, or upgrade from 8.x to 9.x within the same derivative." }}
                        </p>
                    </div>
                    <div>
                        <a href="https://wiki.almalinux.org/elevate"
                           class="btn al-cta-learn-how btn-md px-4 me-2">
                            <i class="bi bi-arrow-up-right-square pe-1"></i>
                            {{ i18n "Get Started" }}
                        </a>
                        <a href="https://chat.almalinux.org/almalinux/channels/migration"
                           class="btn al-cta-discuss btn-md px-4">
                            <i class="bi bi-chat-left-dots pe-1"></i>
                            {{ i18n "Discuss" }}
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <div class="ratio ratio-16x9">
                        <iframe
                            src="https://www.youtube-nocookie.com/embed/WJpa1E6jnok"
                            title="AlmaLinux OS ELevate" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                            style="height: 400px; width:700px;"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2">
            <h6 class="pt-5 pb-2 mb-2 text-uppercase border-bottom">About</h6>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 py-2 py-md-3">
                <div class="col d-flex align-items-stretch">
                    <div>
                        <h4 class="fw-bold mb-0 pb-3">
                            {{ i18n "Major Version Upgrades" }}
                        </h4>
                        <p>
                            {{ i18n "It wasn't possible--until now." }} {{ i18n "Move from CentOS 7.x to 8.x version of the RHEL derivative of your choice, or upgrade from 8.x to 9.x within the same derivative." }}
                            {{ i18n "Run the most recent version of the OS and software you need." }}
                            
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-stretch">
                    <div>
                        <h4 class="fw-bold mb-0 pb-3">
                            Package Evolution Service
                        </h4>
                        <p>
                            {{ i18n "The beating heart of ELevate is the" }}
                                <a href="https://pes.almalinux.org">Package Evolution Service</a>
                            {{ i18n "(PES) which allows you to download, customize and even submit new data sets for packages." }}
                            {{ i18n "Users and maintainers can both utilize the PES to help make migrations smooth and easy." }}
                        </p>
                    </div>
                </div>
                <div class="col d-flex align-items-stretch">
                    <div>
                        <h4 class="fw-bold mb-0 pb-3">
                            {{ i18n "Community-wide Project" }}
                        </h4>
                        <p>

                            {{ i18n "ELevate is developed in a distribution agnostic way and is built as a tool for the whole ecosystem, not just AlmaLinux." }}
                            {{ i18n "ELevate supports migrating to/from other distributions and is open for all to contribute to and enhance." }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-2 faq-container">
            <h6 class="pt-5 pb-2 mb-2 text-uppercase border-bottom">FAQ</h6>
            <div class="al-faq-slim">
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "What is ELevate?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "ELevate is a project aimed to provide the ability to migrate between major versions of RHEL-based distributions from 7.x to 8.x and from 8.x to 9.x." }}
                        {{ i18n "It combines Red Hat's Leapp framework with a community created library and service for the migration metadata set required for it." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "This looks awesome." }} {{ i18n "How can I contribute?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "First join us at" }} <a href="https://chat.almalinux.org/almalinux/channels/migration">#migration</a> Mattermost {{ i18n "channel" }}.
                        {{ i18n "You can find the tool code here" }}:
                            <a href="https://github.com/AlmaLinux/leapp-repository/tree/almalinux"></a> {{ i18n "and you can add/edit/interact with package metadata at" }} <a href="https://pes.almalinux.org"></a>.
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "Is this ready for production?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "YMMV." }} {{ i18n "Every environment is different and unique based on applications and configurations." }}
                        {{ i18n "Since this is still under development, to avoid any surprises, we highly recommend that you test migrations scenarios in a VM or sandbox before running a migration in production." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "What operating systems does ELevate support?" }}
                    </div>
                    <div class="answer">
                            {{ i18n "Currently, ELevate project supports the following migration directions:" }}
                            <img src=/images/ELevate.png class="d-block img-fluid" alt="ELevate scheme CentOS7 -> AlmaLinux, CentOS Stream, EuroLinux, Oracle, Rocky 8 -> AlmaLinux, CentOS Stream, EuroLinux, Rocky 9" width="624" height="430">
                            <p>
                            {{ i18n "* - migration to CentOS Stream 9 is currently in process and will be available later." }}
                            {{ i18n "** - migration to Oracle Linux 9 is available with the" }}
                            <a href="https://blogs.oracle.com/linux/post/upgrade-oracle-linux-8-to-oracle-linux-9-using-leapp">Oracle Leapp utility</a> {{ i18n "and will not be supported by ELevate project." }}
                            </p>
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "Will migration be \"in-place\"?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "Yes. All your data, applications and settings will be kept." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "Is this live or does it require a reboot?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "Migrations will require your system to reboot twice." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "What does the Package Evolution Service do?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "The Package Evolution Service stores package migration metadata." }} {{ i18n "Metadata answers questions about how packages evolve between major distribution releases." }}
                        {{ i18n "PES supports several classes of rules for packages such as added, removed, renamed, split, merged, and so on." }}
                        {{ i18n "The service also allows everyone to improve the data by adding new actions or even create a custom dataset for packages from third-party or private repositories." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "RedHat offers a data set which is non-freely licensed. Are you using this same data set?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "No." }} {{ i18n "We respect RedHat’s work and our initial data set was provided by the AlmaLinux Foundation and contributions from Oracle." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "What license is your metadata under?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "The metadata is provided under an Apache License." }}
                    </div>
                </div>
                <!--Item-->
                <div>
                    <div class="question">
                        {{ i18n "Why are you supporting migration to other distributions?" }}
                    </div>
                    <div class="answer">
                        {{ i18n "The CentOS ecosystem is a very large and diverse community." }}
                        {{ i18n "We've developed this project in good faith in the hope that everyone in the community can use and contribute to, no matter which distro you prefer." }}
                        {{ i18n "That’s the open source way." }}
                    </div>
                </div>
            </div>
        </div>
    </section>



{{ end }}
