@import "./variables";
@import "./functions";
@import "./bootstrap";


.al-page-elevate-index {

  .elevate-container-wrap{
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .faq-container {
    margin-bottom: 120px;
  }

  
  
  

  .al-faq-slim {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 300;

    & > div {
      padding-bottom: 26px;

      div.question {
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }
  }
}
