// Fonts
$al-font-color: #fefefe;
$al-font-color-light: #000518;
$al-font-base-size: 16px;
$al-font-family: -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell, 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';
$al-font-family-accent: 'Montserrat', -apple-system, BlinkMacSystemFont, 'segoe ui', roboto, oxygen-sans, ubuntu, cantarell, 'helvetica neue', 'arial', sans-serif, 'apple color emoji', 'segoe ui emoji', 'segoe ui symbol';
$al-font-family-mono: 'SF Mono', 'source code pro', consolas, 'courier new', courier, monospace;

// Base colors
$al-body-background: #0f4266;
$al-link-color: #c4e1ff;

// Brand colors
$al-c-brand-primary: #0069da;
$al-c-brand-secondary: #86da2f;
$al-c-brand-tertiary: #ffcb12;

// Brand palette
$al-c-science-blue: #0069DA;
$al-c-science-blue-dark: #004bbc;
$al-c-science-blue-lighter: #1e87f8;
$al-c-science-blue-light: #2891ff;

$al-c-atlantis: #86da2f;
$al-c-atlantis-dark: #68bc11;
$al-c-atlantis-lighter: #a4f84d;
$al-c-atlantis-light: #aeff57;

$al-c-candlelight: #ffcb12;
$al-c-candlelight-dark: #e1ad00;
$al-c-candlelight-lighter: #ffe930;
$al-c-candlelight-light: #fff33a;

$al-c-black-pearl: #082336;
$al-c-black-pearl-dark: #000518;
$al-c-black-pearl-lighter: #264154;
$al-c-black-pearl-light: #304b5e;

$al-c-soft-peach: #faf5f5;
$al-c-soft-peach-dark: #dcd7d7;
$al-c-soft-peach-lighter: #ffffff;
$al-c-soft-peach-light: #ffffff;

$al-c-sunburnt-cyclops: #ff4949;
$al-c-sunburnt-cyclops-dark: #e1282b;
$al-c-sunburnt-cyclops-lighter: #ff6467;
$al-c-sunburnt-cyclops-light: #ff6e71;

// Sizing
$al-page-readable-max-width: 680px;


