<footer class="al-primary-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md">
                <img src="/images/icon.svg" alt="AlmaLinux OS icon" class="mb-3" height="64">
                <div class="d-block mb-3">© 2024 AlmaLinux OS Foundation</div>
				<div>20791 Three Oaks Pkwy, #980<br />Estero, FL 33929</div>
				<div><a href="mailto:hello@almalinux.org">hello@almalinux.org</a></div>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="https://wiki.almalinux.org">{{ i18n "Wiki" }}</a></li>
                    <li><a href="{{ "/alesco" | relLangURL }}">{{ i18n "ALESCo" }}</a></li>
                    <li><a href="https://github.com/AlmaLinux/">GitHub</a></li>
                    <li><a href="https://bugs.almalinux.org/">{{ i18n "Bugs" }}</a></li>
                    <li><a href="https://repo.almalinux.org/">{{ i18n "Repository" }}</a></li>
                    <li><a href="{{ "/get-almalinux" | relLangURL }}">{{ i18n "Downloads" }}</a></li>
                    <li><a href="{{ "/members" | relLangURL }}">{{ i18n "Membership" }}</a></li>
                    <li><a href="{{ "/elevate" | relLangURL }}">ELevate</a></li>
                    <li><a href="https://lists.almalinux.org/">{{ i18n "Mailing Lists" }}</a></li>
                    <li><a href="https://status.almalinux.org/">{{ i18n "Status Page" }}</a></li>
                    <li><a href="https://openqa.almalinux.org/">{{ i18n "openQA" }}</a></li>
                    <li><a href="https://build.almalinux.org/">{{ i18n "Build System" }}</a></li>
                    <li><a href="{{ "/security" | relLangURL }}">{{ i18n "Security" }}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li><a href="https://chat.almalinux.org">{{ i18n "Chat "}}</a></li>
                    <li><a href="https://forums.almalinux.org/">{{ i18n "Forums" }}</a></li>
                    <li><a href="https://www.reddit.com/r/AlmaLinux/">Reddit</a></li>
                    <li><a href="https://twitter.com/AlmaLinux">Twitter</a></li>
                    <li><a href="https://fosstodon.org/@almalinux" rel="me">Mastodon</a></li>
                    <li><a href="https://www.facebook.com/AlmaLinux/">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/company/almalinuxos/">LinkedIn</a></li>
                    <li><a href="ircs://irc.libera.chat:6697/almalinux">#almalinux IRC</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                    <li><a href="{{ "/p/legal-notice/" | relLangURL }}">{{ i18n "Legal Notice" }}</a></li>
                    <li><a href="{{ "/p/privacy-policy/" | relLangURL }}">{{ i18n "Privacy Policy" }}</a></li>
                    <li><a href="{{ "/p/terms-of-service/" | relLangURL }}">{{ i18n "Terms of Service" }}</a></li>
                    <li>
                        <a href="{{ "/p/the-almalinux-os-licensing-policy/" | relLangURL }}">
                            {{ i18n "Licensing Policy" }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ "/p/the-almalinux-os-trademark-usage-policy/" | relLangURL }}">
                            {{ i18n "Trademark Usage Policy" }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ "/p/foundation-bylaws/" | relLangURL }}">
                            {{ i18n "Foundation Bylaws" }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ "/p/foundation-board-operations-and-ethics/" | relLangURL }}">
                            {{ i18n "Board Operations and Code of Ethics" }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ "/p/membership-committee/" | relLangURL }}">
                            {{ i18n "Membership Committee" }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>				
		<div>
			<p class="footer_tax_note">{{ i18n "The AlmaLinux OS Foundation is a registered 501(c)(6) organization under US law" }} <a href="https://apps.irs.gov/app/eos/">{{ i18n "(Tax ID 86-2791864)" }}</a>.<br /><br />{{ i18n "Contributions to the foundation are typically not considered charitable contributions, and would not be tax deductible as such. Please contact your financial or tax advisor for specific guidance." }}
			</p>
		</div>
    </div>
</footer>

<!-- Matomo -->
<!-- "do not track" settings are honored -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.almalinux.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
