<nav
  id="al-primary-navbar"
  class="al-primary-navbar navbar p-0 sticky-top navbar-expand-lg navbar-dark flex-column with-motd">
  <div class="container  my-3">
    <a class="navbar-brand" href="{{ "" | relLangURL }}">
      <img
        src="/images/logo.svg"
        alt="AlmaLinux OS logo"
        width="165.93"
        height="32" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="main-navbar">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mt-1" href="{{ "/blog" | relLangURL }}">
            {{ i18n "Blog" }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-1" href="https://wiki.almalinux.org">
            {{ i18n "Wiki" }}
          </a>
        </li>
        <li class="nav-item dropdown ">
          <a
            class="nav-link dropdown-toggle mt-1"
            id="navbarDropResources"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ i18n "Resources" }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-start"
            aria-labelledby="navbarDropResources">
            <li>
              <a
                class="dropdown-item"
                href="https://wiki.almalinux.org/documentation/migration-guide">
                {{ i18n "Migrate from CentOS 8" }}
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ "/certification" | relLangURL }}">
                {{ i18n "Certification" }}
              </a>
              <ul>
                <li>
                  <a
                    class="dropdown-nested dropdown-item"
                    href="{{ "/certification/hardware-certification" | relLangURL }}">
                    {{ i18n "Hardware" }}
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item dropdown-nested"
                    href="{{ "/certification/hardware-certification/hardware-certification-program" | relLangURL }}">
                    {{ i18n "Certification Program" }}
                  </a>
                </li>
                <li>
                  <a
                    class="dropdown-item dropdown-nested"
                    href="{{ "/certification/software-certification" | relLangURL }}">
                    {{ i18n "Software" }}
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/alesco" | relLangURL }}">
                {{ i18n "ALESCo" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://bugs.almalinux.org">
                {{ i18n "Report Bugs" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/members" | relLangURL }}">
                {{ i18n "Membership" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/elevate" | relLangURL }}">
                ELevate
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/newsletters" | relLangURL }}">
                {{ i18n "Newsletters" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://lists.almalinux.org/">
                {{ i18n "Mailing Lists" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://openqa.almalinux.org/">
                {{ i18n "openQA" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="https://build.almalinux.org/">
                {{ i18n "Build System" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/security" | relLangURL }}">
                {{ i18n "Security" }}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle mt-1"
            id="navbarDropEvents"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ i18n "Events" }}
          </a>
          <ul
            class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-start"
            aria-labelledby="navbarDropEvents">
            <li>
              <a
                class="dropdown-item"
                href="https://events.almalinux.org/category/1/">
                {{ i18n "SIG Meetings" }}
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="https://events.almalinux.org/category/7/">
                {{ i18n "ALESCo Meetings" }}
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <h6 class="dropdown-header text-white">
                {{ i18n "Upcoming Events" }}
              </h6>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ "/almalinux-day-los-angeles-2026/" | relLangURL }}">
                {{ i18n "ALD Los Angeles 2026" }}
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <h6 class="dropdown-header text-white">
                {{ i18n "Past Events" }}
              </h6>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ "/almalinux-day-germany-2026/" | relLangURL }}">
                {{ i18n "ALD Germany 2026" }}
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ "/almalinux-day-tokyo-2026/" | relLangURL }}">
                {{ i18n "ALD Tokyo 2026" }}
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ "/almalinux-day-vancouver-2025/" | relLangURL }}">
                {{ i18n "ALD Vancouver 2025" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/aldt-2024" | relLangURL }}">
                {{ i18n "ALD Tokyo 2024" }}
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{{ "/almalinux-day-germany-2024/" | relLangURL }}">
                {{ i18n "ALD Germany 2024" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{{ "/aldt-2023" | relLangURL }}">
                {{ i18n "ALD Tokyo 2023" }}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-1" href="https://shop.almalinux.org/">
            {{ i18n "Shop" }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mt-1" href="{{ "/support" | relLangURL }}">
            {{ i18n "Get Support" }}
          </a>
        </li>
        <li class="nav-item dropdown ps-md-2">
          <button
            class="btn nav-link dropdown-toggle al-language-switch mt-1"
            id="navbarDropLanguages"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/images/lang.svg" alt="Language" width="24" height="24" />
          </button>
          <ul
            class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-start"
            aria-labelledby="navbarDropLanguages">
            {{ range $.AllTranslations }}
              <li>
                <a
                  class="dropdown-item al-language-link {{ if eq .Lang $.Lang }}
                    active
                  {{ end }}"
                  href="{{ .RelPermalink }}"
                  hreflang="{{ $.Lang }}">
                  {{ .Language.LanguageName }}
                </a>
              </li>
            {{ end }}
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li class="al-translate-callout">
              <a
                class="dropdown-item al-language-link"
                href="https://hosted.weblate.org/engage/almalinux/">
                <i class="bi bi-pencil"></i>
                {{ i18n "Translate" }}
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item ps-md-2">
          <a
            class="nav-link btn btn al-download-button"
            href="{{ "/get-almalinux" | relLangURL }}">
            <i class="bi bi-download pe-1 d-none d-xl-inline"></i>
            {{ i18n "Download" }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="al-motd" dir="ltr" data-nosnippet="">
  <div class="container ps-3">
    <div class="text">
      <i class="bi bi-calendar-event"></i> Join us at
      <a href="{{ "/almalinux-day-los-angeles-2026/" | relLangURL }}"
        >{{ i18n "AlmaLinux Day: Los Angeles" }}</a
      >
      on July 18!
    </div>
  </div>
</div>
