<!-- newsletter -->
            <div class="container al-py-lg" style="max-width:90%;">
                <div class="row">
		     		 <div class="col-lg-6">
						<img src="/images/newslettersignup.png" alt="The migration paths when using ELevate" height="300">
						</div>
		     		   	<div class="col-lg-6">
                        <h2 class="mb-2">
                            {{ i18n "Stay updated!" }}
                        </h2>
                        <h6 class="mb-4">
                            {{ i18n "Subscribe to our newsletter mailing list and never miss out on the latest in AlmaLinux OS news, and sign up for any other updates on lists.almalinux.org!" }}
                        </h6>
							<a href="https://lists.almalinux.org/mailman3/lists/?all-lists">{{ i18n "AlmaLinux Mailing lists" }}</a>
                    	</div>
                </div>
            </div>
<!-- end newsletter -->