@import "~bootstrap/scss/bootstrap-utilities";
@import "../../common/scss/variables";
@import "../../common/scss/functions";

.al-page-contribute-index {
  padding-bottom: 120px;

  .al-subtle-links {
    a {
      text-decoration: none;

      &:hover, &:active {
        text-decoration: underline;
      }
    }
  }

  .al-cta-chat {
    background: $al-c-atlantis;
    color: #222222;

    &:hover {
      background: darken($al-c-atlantis, 5%);
    }
  }

  .al-member-button {
    background: $al-c-atlantis;
    color: #222222;

    &:hover {
      background: darken($al-c-atlantis, 5%);
    }
  }
}
