@import "~bootstrap/scss/bootstrap-utilities";
@import "../../common/scss/variables";
@import "../../common/scss/functions";

.al-page-elevate-index {
  .al-cta-discuss {
    background: $al-c-science-blue-light;
    color: #222;

    &:hover {
      background: darken($al-c-science-blue-light, 5%);
    }
  }

  .al-cta-learn-how {
    background: $al-c-atlantis;
    color: #222222;

    &:hover {
      background: darken($al-c-atlantis, 5%);
    }
  }

  .faq-container {
    margin-bottom: 120px;
  }

  @include media-breakpoint-up(md) {
    .al-page-elevate-index {

    }
  }

  .al-faq-slim {
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 300;

    & > div {
      padding-bottom: 26px;

      div.question {
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }
  }
}
