{{ define "main" }}
  <section class="al-page-showcase-index">
    <div class="container g-5 py-5 align-items-center">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src=""
            class="d-block mx-lg-auto img-fluid"
            alt=""
            loading="lazy"
            width="700"
            height="500" />
        </div>
        <div class="col-lg-6">
          <h2 class="fw-bold lh-1 mb-3"></h2>
          <div class="lead"></div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
