@import "../../common/scss/variables";

.al-page-page {
    max-width: $al-page-readable-max-width;
    margin: auto;
    height: 1000px;
    overflow-y: scroll;

   .new-law-btn{
        font-weight: 500;
        background: #86da2f;
        color: #000518;
        padding:8px;
        text-decoration:None;
        border-radius:3px;
        float:right;
    }
    .new-law-btn:hover {
        color: #000518;
        background-color: #72bf20;
    }

    .al-page-content {
        img {
            max-width: 100%;
        }
    }

    .al-page-date {
        font-size: 0.7rem;
        color: #efefef;
    }
}
