
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.container{
  padding: 0 ;
}

.al-index-security-measures-container a {
  color: #f1f8ff;
  }

.itemAl_01 a {
  color: #f1f8ff;
  }

.items__01 a {
  color: #f1f8ff;
  }

.itemAl_02 a {
  color: #f1f8ff;
  }

.al-primary-navbar .container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.al-index-faq .container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.al-index-community-container .pb-3 {
padding-left: 15px !important;
padding-right: 15px !important;
}
.al-index-press .container {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
.elevate-container-wrap{
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.al-cta-blue {
  background: #24c2ff;
  color: #222222;
  margin:10px 10px 10px 0;
}

.al-cta-blue:hover {
  background: #0bbbff;
}

.al-cta-green {
  background: #86da2f;
  color: #222222;
  margin: 10px;
}

.al-cta-green:hover {
  background: #79cb24;
}

.al-cta-yellow {
  background: #ffcb12;
  color: #222222;
  margin: 10px;
}

.al-cta-yellow img {
  display: inline;
  height: 1em;
}
.al-cta-yellow:hover {
  background: #f8c100;
}
.al-page-index .al-index-feature-container, .al-commercial-supporter-list {
  background: #0e3b5c;
}
.al-page-index .al-index-feature-container .al-index-feature-icon {
  color: white;
  font-size: 32px;
  padding-right: 22px;
}
[dir=rtl] .al-page-index .al-index-feature-container .al-index-feature-icon {
  padding-right: 0;
  padding-left: 22px;
}

.al-dark-background {
background: #0e3b5c!important;
}
.al-page-index .al-index-community-container {
  background: #0e3b5c;
}
.al-page-index .al-index-community-container .al-index-community-icon {
  color: #fefefe;
  font-size: 32px;
  padding-right: 22px;
  flex: 0;
}
[dir=rtl] .al-page-index .al-index-community-container .al-index-community-icon {
  padding-right: 0;
  padding-left: 22px;
}
.al-page-index .al-index-community-container .al-index-community-icon.img {
  height: 32px;
  box-sizing: border-box;
}
.al-index-community-content-wrap {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.al-index-community-content-wrap p{

  flex: 1;

}
.al-page-index .al-index-community-container .al-community-cta {
  min-width: 120px;
}
.al-page-index .al-index-community-container h2.border-bottom {
border-bottom-color: #14598a !important;
}

.al-page-index .al-index-security-container .al-index-community-icon.img {
  height: 32px;
  box-sizing: border-box;
  font-size: 32px;
}

.al-page-index .al-index-backed-by h2.border-bottom {
  border-bottom-color: #14598a !important;
}
.al-backed-by-list a{
  margin-top: 3rem !important;
}
/* formatting the sponsor logos on the home page. */
 .al-page-index .al-index-backed-by .al-backed-by-list {
  justify-content: space-between;
  padding: 0;
}
.al-page-index .al-index-backed-by .al-backed-by-list div.col {
  text-align: center;
}
.al-page-index .al-index-backed-by .al-backed-by-list .al-backer-logo-container {
  height: 100%;
}
.al-page-index .al-index-backed-by .al-backed-by-list .al-backer-logo {
  height: 100%;
  width: 120px;
}

/* formatting the sponsors on the event pages. */
.al-page-index .al-index-sponsors .al-backed-by-list {
  justify-content: center;
  padding: 0;
}
.al-page-index .al-index-sponsors .al-backed-by-list div.col {
  text-align: center;
}
.al-page-index .al-index-sponsors .al-backed-by-list .al-backer-logo-container {
  height: 100%;
}
.al-page-index .al-index-sponsors .al-backed-by-list .al-backer-logo {
  height: 100%;
  width: 160px;
}

.al-page-index .al-index-sponsors .al-backed-by-list .al-backer-logo-small {
  height: 100%;
  width: 70px;
}

/* formatting the commercial support vendors on the index page. */
.al-page-index .al-index-commercial-support p.border-bottom {
  border-bottom-color: #14598a !important;
}
.al-page-index .al-index-commercial-support .al-commercial-supporter-list {
  justify-content: center;
}
.al-page-index .al-index-commercial-support .al-commercial-supporter-list div.col {
  text-align: center;
}
.al-page-index .al-index-commercial-support .al-commercial-supporter-list {
  height: 100%;
}
.al-page-index .al-index-commercial-support .al-commercial-supporter-list .al-commercial-supporter-logo {
  width: 300px;
  max-width: 100%;
}
.al-commercial-supporter-list {
  text-align: center;
  background: #0e3b5c;
}

.al-commercial-supporter-logo-container {
  background: #082336;
  text-align: center;
}

.al-page-index .al-index-faq {
  background: #0e3b5c;
}

.al-page-index .al-index-faq .accordion-button {
  border: 1px;
  font-weight: normal;
  background: #104469;
  width: 100% !important;
  text-align: left !important;
  padding: 20px 10px !important;
  color: #fefefe !important;
  font-size: 15px;
}
.al-page-index .al-index-faq .tab-button {
border: 1px;
font-weight: normal;
background: #104469;
width: 100% !important;
padding: 20px 10px !important;
color: #fefefe !important;
font-size: 18px;
}
.items__01 .accordion-body > ul {
padding: 0px !important;
}
.al-page-index .al-index-faq .accordion-button:active, .al-page-index .al-index-faq .accordion-button.active, .al-page-index .al-index-faq .accordion-button:hover, .al-page-index .al-index-faq .accordion-button:focus {
  box-shadow: none;
  outline: none;
  border: none;
}
.al-page-index .al-index-faq .accordion-button:not(.collapsed) {
  background: #104469;
  color: #fefefe;
}
.al-page-index .al-index-faq .accordion-body {
  background: #114a73;
  padding: 15px 10px;
  margin-top: -8px;
  color: #fefefe;
}
.itemsOff {
  height: 36px;
  margin: 15px 0 15px 0;
}
.itemsTr {
  height: 72px;
  margin: 15px 0 15px 0;
}
.al-page-index .al-index-newsletter a {
 text-decoration: underline !important;
}
.al-page-index .al-index-newsletter .al-newsletter-input {
  background-color: white;
}
.al-page-index .al-index-newsletter .al-newsletter-button {
  background: #86da2f;
  color: #000518;
}
.al-page-index .al-index-newsletter .al-newsletter-button:hover {
  color: #000518;
  background: #79cb24;
}
.al-page-index .al-index-press {
  background: #0e3b5c;
}
.al-page-index .al-index-press .al-index-press-item {
  margin-bottom: 10px;
}
.al-page-index .al-index-press .al-index-press-item blockquote.blockquote {
  padding-bottom: 7px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-size: 1.4rem;
}
.al-page-index .al-index-press .al-index-press-item blockquote.blockquote:before {
  content: open-quote;
  padding-right: 3px;
}
.al-page-index .al-index-press .al-index-press-item blockquote.blockquote:after {
  content: close-quote;
  padding-left: 3px;
}
.al-page-index .al-index-press .al-index-press-item blockquote.blockquote:before, .al-page-index .al-index-press .al-index-press-item blockquote.blockquote:after {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  vertical-align: top;
  display: inline-block;
  color: #faf5f5;
  font-weight: bold;
  font-size: 1rem;
}
.al-page-index .al-index-press .al-index-press-item figcaption.blockquote-footer {
  color: #fefefe;
}
.al-page-index .al-index-press .al-index-press-item figcaption.blockquote-footer cite {
  font-style: normal;
}
.al-page-index .al-index-press .al-index-press-item figcaption.blockquote-footer a {
  text-decoration: none;
}
.al-page-index .al-index-press .al-index-press-item figcaption.blockquote-footer a:hover {
  text-decoration: underline;
  color: #f7fbff;
}

.al-page-blog-index .al-page-blog-posts article a.al-article-title-link {
  text-decoration: none;
}
.al-page-blog-index .al-page-blog-posts article a.al-article-title-link h2 {
  font-weight: 400;
  font-size: 1.5rem;
}
.al-page-blog-index .al-page-blog-posts article .al-article-date {
  color: #efefef;
  font-size: 0.82rem;
}
.al-page-blog-index .al-page-blog-posts article .al-article-date i {
  font-size: 0.8rem;
}
[dir=rtl] .al-page-blog-index .al-page-blog-posts article .al-article-date i {
  padding-right: 0;
  padding-left: 6px;
}

.al-page-blog-index .al-page-blog-posts article .al-article-excerpt {
  color: #fefefe;
}
.al-page-blog-index .al-page-blog-posts article .al-article-actions a.al-article-continue {
  text-decoration: none;
  font-size: 0.9rem;
  color: #C4E1FF;
}
.al-page-blog-index .al-page-blog-posts article .al-article-actions a.al-article-continue:hover {
  text-decoration: underline;
}
.al-page-blog-index .al-page-blog-posts article .al-article-author img {
  width: 40px;
  height: 40px;
}
.al-page-blog-index .al-page-blog-posts article .al-article-author .al-article-author-name {
  font-style: italic;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 5px;
  color: #C4E1FF;
}
.al-page-blog-index .al-page-blog-posts article .al-article-author .al-article-author-bio {
  font-style: italic;
  font-size: 12px;
  margin: 0px;
  color: #C4E1FF;
}
.al-page-blog-index .pagination .page-item .page-link {
  background: #196da9;
  border: none;
}
.al-page-blog-index .pagination .page-item .page-link:hover {
  color: #efefef;
}
.al-page-blog-index .pagination .page-item.active .page-link {
  background: #1f8ad5;
}
.al-page-blog-index .pagination .page-item.disabled .page-link {
  color: #051723;
}

.al-page-blog-post article .al-article-date {
  color: #efefef;
  font-size: 0.82rem;
}
.al-page-blog-post article .al-article-date i {
  font-size: 0.8rem;
  margin-right: 5px;
}
[dir=rtl] .al-page-blog-post article .al-article-date i {
  padding-right: 0;
  padding-left: 6px;
}

.al-page-blog-post article .al-article-content {
  color: #fefefe;
}
.al-page-blog-post article .al-article-content img {
  max-width: 100%;
}
.al-page-blog-post article .al-page-blog-author img {
  width: 40px;
  height: 40px;
}
.al-page-blog-post article .al-page-blog-author .al-page-blog-author-name {
  font-style: italic;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 5px;
  color: #C4E1FF;
}
.al-page-blog-post article .al-page-blog-author .al-page-blog-author-bio {
  font-style: italic;
  font-size: 12px;
  margin: 0px;
  color: #C4E1FF;
}
.al-page-blog-post .al-blog-pagination .al-blog-previous-button {
  background: #86da2f;
  color: #222222;
}
.al-page-blog-post .al-blog-pagination .al-blog-previous-button:hover {
  background: #79cb24;
}
.al-page-blog-post .al-blog-pagination .al-blog-next-button {
  background: #86da2f;
  color: #222222;
  float: right;
}
.al-page-blog-post .al-blog-pagination .al-blog-next-button:hover {
  background: #79cb24;
}
.al-page-blog-post .al-blog-pagination a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 16px;
  font-size: 15px;
}
.al-page-blog-post table, th, td {
  color: #fefefe !important;
  border: 1px solid #fefefe;
  padding: 10px;
}


.custom-blog-page-section{
  margin: auto;
}
.al-page-blog-post .container{
  padding: 3rem 15px !important;
}
@media (max-width: 800px){
  .custom-blog-page-section {
    max-width: 100%;
    margin: auto;
  }
}
.al-page-elevate-index .al-cta-discuss {
  background: #2891ff;
  color: #222;
}
.al-page-elevate-index .al-cta-discuss:hover {
  background: #0f84ff;
}
.al-page-elevate-index .al-cta-learn-how {
  background: #86da2f;
  color: #222222;
}
.al-page-elevate-index .al-cta-learn-how:hover {
  background: #79cb24;
}
.al-page-elevate-index .faq-container {
  margin-bottom: 120px;
}
.al-page-elevate-index .al-faq-slim {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 300;
}
.al-page-elevate-index .al-faq-slim > div {
  padding-bottom: 26px;
}
.al-page-elevate-index .al-faq-slim > div div.question {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.al-members .al-member-item {
  height: 100%;
  background: rgb(14, 59, 92);
}
.al-page-foundation-members-index .al-member-apply-category-icon {
  color: white;
  font-size: 32px;
  padding-right: 22px;
}
[dir=rtl] .al-page-foundation-members-index .al-member-apply-category-icon {
  padding-right: 0;
  padding-left: 22px;
}

.al-page-foundation-members-index .al-member-apply-cta {
  min-width: 120px;
}
.al-page-foundation-members-index .fw-light .al-laws-link, .al-page-foundation-members-index .fw-light .al-guideline-link {
  text-decoration: none;
}
.al-page-foundation-members-index .fw-light .al-laws-link:hover, .al-page-foundation-members-index .fw-light .al-laws-link:active, .al-page-foundation-members-index .fw-light .al-guideline-link:hover, .al-page-foundation-members-index .fw-light .al-guideline-link:active {
  text-decoration: underline;
}
.al-page-foundation-members-index .al-membership-info {
  display: none;
}
.al-membership-info table {
  color: #fefefe !important;
}
.al-page-foundation-members-index #al-mirror-info ul, .al-page-foundation-members-index #al-sponsor-info ul {
  list-style-type: "-   ";
}
.al-page-foundation-members-index .member-info:hover {
  color: #86da2f;
}
.al-page-foundation-members-index .al-foundation-members-apply-content-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.al-page-foundation-members-index .al-foundation-members-apply-content-wrap p {
  flex: 1;
}

.al-page-contribute-index {
  padding-bottom: 120px;
}
.al-page-contribute-index .al-subtle-links a {
  text-decoration: none;
}
.al-page-contribute-index .al-subtle-links a:hover, .al-page-contribute-index .al-subtle-links a:active {
  text-decoration: underline;
}
.al-page-contribute-index .al-cta-chat {
  background: #86da2f;
  color: #222222;
}
.al-page-contribute-index .al-cta-chat:hover {
  background: #79cb24;
}
.al-page-contribute-index .al-member-button {
  background: #86da2f;
  color: #222222;
}
.al-page-contribute-index .al-member-button:hover {
  background: #79cb24;
}

body, html {
  line-height: initial;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-shadow: none;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f4266;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}

.al-body-container {
  min-height: 65vh;
}

button:active {
  outline: none;
  border: 0px solid transparent;
}

button:focus, .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.tab-button.active {
outline: none !important;
box-shadow: inset 0 0.1875rem #ff4649 !important;
}
.tab-button:focus {
outline: none !important;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.al-primary-navbar {
  background: #082336;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-weight: 500;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07), 0 3px 3px -2px rgba(0, 0, 0, 0.06), 0 1px 8px 0 rgba(0, 0, 0, 0.1);
}
.al-primary-navbar .nav-link.al-download-button {
  font-weight: 500;
  background-color: #86da2f;
  color: black !important;
}
.al-primary-navbar .nav-link.al-download-button:hover {
  color: black !important;
  background: #79cb24;

}
.al-primary-navbar .nav-link {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #fff !important;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  text-decoration: none !important;
  cursor: pointer !important;
}
.al-primary-navbar .nav-link:hover {
  color: #1e87f8 !important;
}
.al-primary-navbar.with-motd {
  padding-bottom: 0;
  border-bottom: 0;
}
.al-primary-navbar .dropdown-menu-dark {
  background: #082336;
  border: 0;
}
.dropdown-item{
  text-decoration: none !important;
}
.al-primary-navbar .dropdown-menu-dark .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1490196078) !important;
}
.al-primary-navbar .dropdown-menu-dark .dropdown-divider {
  border-color: #264154;
}
.al-primary-navbar .al-language-switch img {
  height: 24px;
}
/* this counters the default padding in menu items */
.dropdown-nested {
	padding: .25rem -1.5rem !important;
}
.al-primary-navbar .al-language-link {
  text-transform: capitalize;
  color: aliceblue;
}
.al-primary-navbar .al-translate-callout {
  font-size: 0.92rem;
}
.al-primary-navbar .al-translate-callout a {
  display: flex;
  align-items: center;
  color: #69b1ff;
}
.al-primary-navbar .al-translate-callout a i {
  margin-right: 0.4rem;
  font-size: 0.8rem;
}

#al-motd {
  width: 100%;
  background: #051520;
  /* margin-top: 8px; */
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 0.8rem;
}
#al-motd > .container {
  display: flex;
}
#al-motd > .container > i {
  padding-right: 8px;
}
#al-motd > .container > .text {
  display: block;
  font-weight: 500;

}
#al-motd > .container > .text a {
  text-decoration: none;
}
#al-motd > .container > .text a:hover {
  text-decoration: underline;
  color: inherit;
}

section h1.al-section-title {
  font-size: 2.6rem;
  font-weight: 300;
}

.al-primary-footer {
  background: #0D3654;
  padding-top: 122px;
  padding-bottom: 132px;
}

.al-py-lg {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.al-py-md {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.al-text-shadow-dark {
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.btn {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.12s;
  text-decoration: none !important;
}

a{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.12s;
  text-decoration: underline;
}
a:hover{
  color: #9db4cc;
}

.al-wysiwyg {
  all: revert;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-size: 15px;
}
.al-wysiwyg h1, .al-wysiwyg h2, .al-wysiwyg h3, .al-wysiwyg h4, .al-wysiwyg h5, .al-wysiwyg h6 {
  all: revert;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
}
.al-wysiwyg ul,
.al-wysiwyg ol,
.al-wysiwyg ul li,
.al-wysiwyg ol li,
.al-wysiwyg p,
.al-wysiwyg pre,
.al-wysiwyg blockquote {
  all: revert;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen-sans, ubuntu, cantarell, "helvetica neue", "arial", sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
  font-size: 15px;
}

pre, code {
  font-size: 15px;
  color: #fff;
  background-color: #1f1f24;
  border-radius: 4px;
  padding: 0 3px 0 3px;
}
pre > code {
	padding: 0;
}

.fw-bold{
  font-weight: 700 !important;
}
.fw-light{
  font-weight: 300;
}
.fs-6 {
  font-size: 1rem!important;
}
.display-5{
  font-size: 46px !important;
  line-height: 47px
}
.display-4{
  font-size: 1rem !important;
  line-height: 1rem;
}
.lead {
  font-size: 1.25rem !important;
  font-weight: 400 !important;
}


@media (min-width:1400px){
  .container{
    max-width: 1320px;
  }
}



.al-certified-amd-page .banner {
  background-image: url(/images/main-image.png);
  background-size: cover;
  background-position:25%;
}
.al-certified-amd-page .container {
  margin: 0 auto;
  max-width: 1180px;
}
.al-certified-amd-page .banner h1 {
  font-size: 40px;
  font-weight: 600;
  max-width: 600px;
}
.al-certified-amd-page .banner p {
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
}
.al-certified-amd-page section.content {
  background-color: #0e3b5c;
}
.al-certified-amd-page .content p {
  margin: 0 auto;
  max-width: 900px;
  padding: 60px 0;
  text-align: center;
}
.al-certified-amd-page .info-flex {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 60px 0;
}
.al-certified-amd-page .img img {
  height: 300px;
}
.al-certified-amd-page .text>div {
  align-items: center;
  display: flex;
  font-size: 16px;
  margin-bottom: 30px;
}
.al-certified-amd-page .info-block-title {
  font-size: 25px!important;
  font-weight: 500;
  margin-bottom: 40px!important;
}
.al-certified-amd-page .info-flex .text img {
  height: 25px;
  margin-right: 20px;
}
.al-certified-amd-page .container{
  padding: 3rem 15px;
}
.al-certified-amd-page img{
  max-width: 100%;
}
.al-certified-amd-page button.request {
  background-color: #0069d9;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  padding: 17px 35px;
}
.al-certified-amd-page .test-cta {
  padding: 60px 0;
  text-align: center;
}
.al-certified-amd-page .test-cta a, .al-certified-amd-page .test-cta button {
  background-color: #87d831;
  border: 0;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0;
  padding: 17px 50px;
  -webkit-text-decoration: None;
  text-decoration: None;
}






.al-certified-amd-page .test table {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}
.al-certified-amd-page .test table td, .al-certified-amd-page .test table th {
  background-color: #0e3b5c;
  font-weight: 500;
  padding: 20px 40px;
  text-transform: uppercase;
  width: 35%;
}
.al-certified-amd-page td.passed {
  padding-left: 80px!important;
  position: relative;
}
.al-certified-amd-page .checkmark {
  border-bottom: 6px solid #0069d9;
  border-right: 6px solid #0069d9;
  display: inline-block;
  height: 25px;
  left: 40px;
  position: absolute;
  top: 25px;
  transform: rotate(45deg);
  width: 12px;
}

.al-certified-amd-page {
  color: #fff;
  font-family: Montserrat,sans-serif;
  margin: 0;
  width: 100%;
}
.al-certified-amd-page p.test-title {
  font-size: 20px;
  font-weight: 500;
  padding-top: 40px;
  text-transform: uppercase;
}

.al-certified-amd-page .test img {
  margin-top: 40px;
  max-height: 400px;
}
.al-certified-amd-page .form {
  margin-top: 40px;
}

.al-page-blog-index {
  margin: auto;
  max-width: 680px;
}
.al-article-actions i {
  margin-right: 5px;
}

.pagination .page-item .page-link {
  background: #196da9 !important;
  padding: .375rem .75rem !important;
  color: #c4e1ff;
  border: none;
  text-decoration: none;
}
.pagination .active .page-link{
  background: #1f8ad5 !important;
}
.pagination .disabled {

  color: #000 !important;

}

.highlight > pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  overflow-wrap: anywhere;
}
a {
    overflow-wrap: anywhere;
}

/* this adds individual list images to the social links we've historcially used on event pages. */

.sociallist a {
	color: #0D3654;
}

.social-item-mattermost {
	list-style: none; /* Remove default list bullet */
	padding-left: 24px; /* Add padding for the image */
	background-repeat: no-repeat;
	background-size: 16px 16px; /* Adjust the size as needed */
	background-position: 0 50%; /* Center the image vertically */
    background-image: url('/socialicons/mattermost.png');
}

.social-item-twitter {
	list-style: none; /* Remove default list bullet */
	padding-left: 24px; /* Add padding for the image */
	background-repeat: no-repeat;
	background-size: 16px 16px; /* Adjust the size as needed */
	background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/xtwitter.png');
}

.social-item-reddit {
	list-style: none; /* Remove default list bullet */
	padding-left: 24px; /* Add padding for the image */
	background-repeat: no-repeat;
	background-size: 16px 16px; /* Adjust the size as needed */
	background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/reddit.png');
}

.social-item-lists {
	list-style: none; /* Remove default list bullet */
	padding-left: 24px; /* Add padding for the image */
	background-repeat: no-repeat;
	background-size: 16px 16px; /* Adjust the size as needed */
	background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/lists.png');
}

.social-item-discourse {
	list-style: none; /* Remove default list bullet */
	padding-left: 24px; /* Add padding for the image */
	background-repeat: no-repeat;
	background-size: 16px 16px; /* Adjust the size as needed */
	background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/discourse.png');
}

.social-item-github {
    list-style: none; /* Remove default list bullet */
    padding-left: 24px; /* Add padding for the image */
    background-repeat: no-repeat;
    background-size: 16px 16px; /* Adjust the size as needed */
    background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/github.png');
}

.social-item-docker {
    list-style: none; /* Remove default list bullet */
    padding-left: 24px; /* Add padding for the image */
    background-repeat: no-repeat;
    background-size: 16px 16px; /* Adjust the size as needed */
    background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/docker.png');
}

.social-item-wiki {
    list-style: none; /* Remove default list bullet */
    padding-left: 24px; /* Add padding for the image */
    background-repeat: no-repeat;
    background-size: 16px 16px; /* Adjust the size as needed */
    background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/wiki.png');
}

.social-item-fosstadon {
    list-style: none; /* Remove default list bullet */
    padding-left: 24px; /* Add padding for the image */
    background-repeat: no-repeat;
    background-size: 16px 16px; /* Adjust the size as needed */
    background-position: 0 50%; /* Center the image vertically */
	background-image: url('/socialicons/mastodon.svg');
}


/* formatting for the disclaimer text in the footer */

.footer_tax_note {
	font-size:.7rem;
	padding-top:.5rem;
}

/*# sourceMappingURL=bundle.css.map */

.newsletter-img {
	max-height:300px;
	max-width: 100%;
	height: auto;
}
