{{/* Raspberry Pi section for a given version/arch.
  Expects:
  .Version
  .Arch
  .Section (with .url as defined in data/get_almalinux.yaml)
*/}}

{{- $v := .Version -}}
{{- $s := .Section -}}


<div class="al-article-content p-0 pb-3 al-wysiwyg">
  <p>
    {{ i18n "AlmaLinux builds standard Raspberry Pi images and images with GNOME desktop environment." }}<br />
    {{ i18n "Supported AlmaLinux OS versions:" }}
  </p>
  <div class="align-items-center d-flex">
    <a
      class="btn px-3 me-md-2 al-cta-blue"
      style="min-width: 136px;"
      href="{{ $s.url }}"
    >
      AlmaLinux
      {{ $v.id }}
    </a>
  </div>
  <p class="mb-0">
    {{ i18n "More details can be found on the" }}
    <a href="https://wiki.almalinux.org/documentation/raspberry-pi.html">
      {{ i18n "AlmaLinux Raspberry Pi Wiki Page" }}</a
    >.
  </p>
</div>
