{{ define "main" }}
  <style>
    @media (max-width: 1199px) {
      h1 {
        font-size: 60px !important;
      }
      .toppic_item_1 {
        padding-top: 18% !important;
      }
    }
    @media (max-width: 991px) {
      h1 {
        font-size: 50px !important;
      }
      h2 {
        font-size: 40px !important;
      }
      h3 {
        font-size: 20px !important;
      }
      .container-event {
        max-height: none !important;
        flex-direction: column !important;
        align-items: center;
      }
      .item-event-1 {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
      }
      .item-event-2 {
        padding-left: 0 !important;
      }
      .item-headshot {
        width: 50% !important;
      }
    }
    @media (max-width: 767px) {
      h1 {
        font-size: 30px !important;
        line-height: normal !important;
      }
      h2 {
        font-size: 25px !important;
      }
      .toppic_item_1 {
        padding-top: 44% !important;
      }
    }
    @media (max-width: 474px) {
      .item-headshot {
        width: 80% !important;
      }
      table {
        font-size: 8px !important;
      }
    }
  </style>

  <section>
    <div class="al-body-container">
      <section class="al-page-index">
        <!-- thank you block block -->
        <div class="al-index-register">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <h2
              style="font-size: 50px; letter-spacing: 0.80px; font-weight: 600; margin-bottom: 20px;">
              {{ i18n "Thank you again, Tokyo!!" }}
            </h2>
            <div
              style="margin-bottom: 20px; line-height: 28px; letter-spacing: 0.25px;">
              <i
                >{{ i18n "Our return to Tokyo for this AlmaLinux Day was just as incredible as the first. Thank you to all of our incredible speakers and to everyone who joined us today. We are so grateful for your investment in the AlmaLinux community." }}</i
              >
              <div>--benny Vasquez</div>
              <span class="small text-uppercase mb-1"
                >Chair of the Board of Directors</span
              >
              <span class="small fw-light">AlmaLinux OS Foundation</span>
            </div>
            <div style="text-align: center">
              <a
                href="https://www.youtube.com/watch?v=vOHII_pax0I&list=PLqKzWfm6zyltyY1kcVB66K4-qunmfNSmh"
                class="btn btn-lg px-4 me-md-2 al-cta-blue"
                >{{ i18n "See the recordings on Youtube" }}</a
              >
            </div>
          </div>
        </div>
        <!-- end thank you block-->
        <div
          class="al-index-topic-ALD"
          style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/landingpages/aldt-2024/aldt_2024_header.jpg');">
          <div class="container al-py-lg">
            <div class="topic_item_1" style="padding-top: 15%;">
              <h1>{{ i18n "AlmaLinux Day: Tokyo" }}</h1>
              <h3>
                {{ i18n "AlmaLinux for Enterprise!" }}<br />
                {{ i18n "December 14th, 2024" }}
              </h3>
              <p>
                {{ i18n "Cafe Shiba - WORLD SPACE" }}<br />
                {{ i18n "1-7-1 Kaigan, Minato-ku, Tokyo" }}<br />
                {{ i18n "Tokyo Port City Takeshiba Office Tower 30F" }}
              </p>
            </div>
            <div class="topic_item_2" style="padding-top: 30px;">
              <a
                href="https://almalinux.connpass.com/event/330357/"
                class="btn btn-lg px-4 me-md-2 al-cta-blue"
                >{{ i18n "Register now!" }}</a
              >
            </div>
          </div>
        </div>
        <div>
          <div class="al-index-register">
            <div class="container al-py-md" style="padding: 0 40px 0 40px;">
              <h2
                style="font-size: 50px; letter-spacing: 0.80px; font-weight: 600; margin-bottom: 20px;">
                {{ i18n "Join us to learn from each other in an amazing city." }}
              </h2>
              <p
                style="margin-bottom: 20px; line-height: 28px; letter-spacing: 0.25px;">
                {{ i18n "Linux and open source experts will gather for a day of learning and sharing our experiences using AlmaLinux in enterprise environments, and then make connections with the people who can help solve every technology problem you're facing." }}
              </p>
              <div style="text-align: center">
                <a
                  href="https://almalinux.connpass.com/event/330357//"
                  class="btn btn-lg px-4 me-md-2 al-cta-blue"
                  >{{ i18n "Register now!" }}</a
                >
              </div>
            </div>
          </div>
          <!-- schedule -->
          <div class="al-index-program" style="background: #0e3b5c;">
            <div class="container al-py-md" style="padding: 0 40px 0 40px;">
              <h1
                style="font-size: 80px; text-align: center; letter-spacing: 0.80px; font-weight: 700; margin-bottom: 20px;">
                {{ i18n "Schedule of lectures" }}
              </h1>
              <table style="margin: auto;">
                <tbody>
                  <tr style="background-color: #0f4266;">
                    <th class="aldt_time">{{ i18n "Time" }}</th>
                    <th colspan="3" style="width:90%; text-align:center;"></th>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">12:30 - 13:00</td>
                    <td colspan="3">
                      {{ i18n "Registration and checkin opens" }}
                    </td>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">13:00</td>
                    <td colspan="3" style="width:100%;">
                      {{ i18n "AlmaLinux Day Welcome and Introduction" }}
                    </td>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">13:10</td>
                    <td colspan="3" style="width:100%;">
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/board/benny.jpg"
                        alt="benny Vasquez"
                        style="max-width: 40px;" />
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/users/alukoshko.jpg"
                        alt="Andrew Lukoshko"
                        style="max-width: 40px;" />
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/users/jonathan.jpg"
                        alt="Jonathan Wright"
                        style="max-width: 40px;" />
                      <br />
                      {{ i18n "AlmaLinux and Compatibility with RHEL" }}
                      ({{ i18n "benny Vasquez" }} -
                      {{ i18n "AlmaLinux OS Foundation Chair" }}) <br />
                      {{ i18n "The AlmaLinux Build Pipeline" }}
                      ({{ i18n "Andrew Lukoshko" }} -
                      {{ i18n "Lead AlmaLinux OS Architect" }}) <br />
                      {{ i18n "Introducing the AlmaLinux Certification SIG" }}
                      ({{ i18n "Jonathan Wright" }} -
                      {{ i18n "AlmaLinux Infrastructure Team Lead" }})
                    </td>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">14:25</td>
                    <td colspan="3" style="width:100%;">
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/2024speakers/DaikiOrihara.jpeg"
                        alt="Daiki Orihara"
                        style="max-width: 40px;" />
                      <br />
                      {{ i18n "Next-generation digital social infrastructure and generative AI" }}
                      ({{ i18n "Daiki Orihara" }} -
                      {{ i18n "SB Intuitions Corp., SoftBank Corp." }})
                    </td>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">15:10</td>
                    <td colspan="3" style="width:100%;">
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/2024speakers/Ryota_Imamura.jpeg"
                        alt="Ryota Imamura"
                        style="max-width: 40px;" />
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/2024speakers/Naoki_Watanabe.png"
                        alt="Naoki Watanabe"
                        style="max-width: 40px;" />
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/2024speakers/Masazumi_Koga.png"
                        alt="Masazumi Koga"
                        style="max-width: 40px;" />
                      <img
                        class="img-fluid rounded-circle mb-3"
                        src="/2024speakers/yuichi_aoyama.jpg"
                        alt="Yuichi Aoyama"
                        style="max-width: 40px;" /><br />
                      {{ i18n "Successful Cases and Know-How of Utilizing Open Source Software with AlmaLinux" }}
                      ({{ i18n "Ryota Imamura" }} - {{ i18n "DesigNET" }})
                      <br />
                      {{ i18n "Challenges to automatic OS and middleware updates for safer and more flexible operations with AlmaLinux" }}
                      ({{ i18n "Naoki Watanabe" }} -
                      {{ i18n "Prime Strategy Co., Ltd." }}) <br />
                      {{ i18n "The author of 'AlmaLinux 9 Practical Guide' talks about the front line of Arm servers." }}
                      ({{ i18n "Masazumi Koga" }} -
                      {{ i18n "Hewlett Packard Japan, G.K." }}) <br />
                      {{ i18n "Cybertrust's AlmaLinux efforts and contributions - from last year's AlmaLinux Day: Tokyo to now" }}
                      ({{ i18n "Yuichi Aoyama" }} -
                      {{ i18n "Cybertrust Japan Co., Ltd." }})
                    </td>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">16:30</td>
                    <td colspan="3" style="width:100%;">
                      {{ i18n "Closing Remarks" }}
                    </td>
                  </tr>
                  <tr>
                    <td nowrap class="aldt_time">17:00 - 19:00</td>
                    <td colspan="3" style="width:100%;">
                      {{ i18n "Social Gathering and Lightning talks!" }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="container al-py-lg">
            <div class="row px-4 pb-4">
              <div class="col-lg-6">
                <h3 class="pb-3">{{ i18n "AlmaLinux for Enterprise!" }}</h3>
                <p>
                  {{ i18n "From hyperscale and supercomputers to single board computers, from desktop to cloud - AlmaLinux is a great choice wherever you need it!" }}
                </p>
                <p>
                  {{ i18n "Navigating the open source world can be harrowing for businesses, but AlmaLinux is ready to solve your operating system needs!" }}
                </p>
              </div>
              <div class="col-lg-6">
                <h3 class="pb-3">{{ i18n "Event Details" }}</h3>
                <p>
                  <b>{{ i18n "Date and time:" }}</b>
                  {{ i18n "Saturday, December 14, 2024, 13:00-20:00 (doors open at 12:30)" }}<br />
                  <b>{{ i18n "Venue:" }}</b>
                  {{ i18n "Cafe Shiba WORLD SPACE" }}<br />
                  {{ i18n "1-7-1 Kaigan, Minato-ku, Tokyo" }}<br />
                  {{ i18n "Tokyo Port City Takeshiba Office Tower 30F" }}<br />
                  <b>{{ i18n "Host:" }}</b>
                  {{ i18n "Japan AlmaLinux Users Group" }}<br />
                  <b>{{ i18n "Co-host:" }}</b>
                  {{ i18n "AlmaLinux OS Foundation" }}<br />
                  <b>{{ i18n "Sponsors:" }}</b>
                  {{ i18n "Open Source People Network https://ospn.jp/, and more below." }}<br />
                  <b>{{ i18n "Participation fee:" }}</b> {{ i18n "Free" }}<br />
                  <b>{{ i18n "Social gathering participation fee:" }}</b>
                  {{ i18n "2000 yen" }}<br />
                  {{ i18n "Social gathering is free for students! (Please bring your student ID)" }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="al-index-event" style="background: #0e3b5c;">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <h2
              style="font-size: 50px; letter-spacing: 0.80px; font-weight: 600; margin-bottom: 20px;">
              {{ i18n "Share your story with a lightning talk at the Social!" }}
            </h2>
            <div
              class="container-event"
              style="display: flex; max-height: 400px;">
              <div class="item-event-1">
                <img
                  src="/landingpages/aldt-2024/aldt2023conf.png"
                  style="object-fit: cover; width: 100%; height: 100%;" />
              </div>
              <div
                class="item-event-2"
                style="display: flex; flex-direction: column; justify-content: space-between; padding-left: 40px;">
                <p>
                  {{ i18n "Presentations are also possible at the social gathering after the seminar. You can freely give a presentation on anything related to AlmaLinux. You can also advertise your company. Since this is a social gathering, please use LT format and limit your presentation to about 3 to 5 minutes per person." }}
                  <br />
                  <br />
                  {{ i18n "If you would like to make a presentation, please let us know during the announcements on the day." }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="al-index-register-2">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <h2
              style="font-size: 50px; letter-spacing: 0.80px; font-weight: 600; margin-bottom: 20px;">
              {{ i18n "Register now to save your spot!" }}
            </h2>
            <p style="margin-bottom: 20px;">
              {{ i18n "While the event is free, registration is required for attendance and space is limited!" }}
            </p>
            <div style="text-align: center">
              <a
                href="https://almalinux.connpass.com/event/330357/"
                class="btn btn-lg px-4 me-md-2 al-cta-blue"
                >{{ i18n "Register now!" }}</a
              >
            </div>
          </div>
        </div>
        <div class="al-index-meet" style="background: #0e3b5c;">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <h1
              style="font-size: 80px; text-align: center; letter-spacing: 0.80px; font-weight: 700;">
              {{ i18n "Meet the Experts" }}
            </h1>
            <div
              style="text-align: center; line-height: 28px; word-wrap: break-word;">
              <h3 style="margin-bottom: 20px;">
                {{ i18n "Speakers from across industries" }}
              </h3>
            </div>
            <div
              class="container-speakers"
              style="display: flex; justify-content: center; flex-wrap: wrap;">
              <!-- speaker one -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/2024speakers/DaikiOrihara.jpeg"
                    alt="Daiki Orihara"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>{{ i18n "Daiki Orihara" }}</p>
                    <span class="small fw-light"
                      >{{ i18n "SB Intuitions Corp., SoftBank Corp." }}</span
                    >
                  </div>
                </div>
              </div>
              <!-- speaker two -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/board/benny.jpg"
                    alt="benny Vasquez"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>benny Vasquez</p>
                    <span class="small text-uppercase mb-1"
                      >{{ i18n "Chair, Board of Directors" }}</span
                    >
                    <span class="small fw-light">AlmaLinux OS Foundation</span>
                  </div>
                </div>
              </div>
              <!-- speaker three -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/users/alukoshko.jpg"
                    alt="Andrew Lukoshko"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>Andrew Lukoshko</p>
                    <span class="small text-uppercase mb-1"
                      >{{ i18n "Lead Architect & ALESCo Member" }}</span
                    >
                    <span class="small fw-light">AlmaLinux OS Foundation</span>
                  </div>
                </div>
              </div>
              <!-- speaker four -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/users/jonathan.jpg"
                    alt="Andrew Lukoshko"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>Jonathan Wright</p>
                    <span class="small text-uppercase mb-1"
                      >{{ i18n "Infra, Certification SIG Lead, & ALESCo Member" }}</span
                    >
                    <span class="small fw-light">AlmaLinux OS Foundation</span>
                  </div>
                </div>
              </div>
              <!-- speaker five -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/2024speakers/Ryota_Imamura.jpeg"
                    alt="Ryota Imamur"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>{{ i18n "Ryota Imamura" }}</p>
                    <span class="small fw-light">{{ i18n "DesigNET" }}</span>
                  </div>
                </div>
              </div>
              <!-- speaker six -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/2024speakers/Naoki_Watanabe.png"
                    alt="Naoki Watanabe"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>{{ i18n "Naoki Watanabe" }}</p>
                    <span class="small fw-light"
                      >{{ i18n "Prime Strategy Co., Ltd." }}</span
                    >
                  </div>
                </div>
              </div>
              <!-- speaker seven -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/2024speakers/Masazumi_Koga.png"
                    alt="Masazumi Koga"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>{{ i18n "Masazumi Koga" }}</p>
                    <span class="small fw-light"
                      >{{ i18n "Hewlett Packard Japan, G.K." }}</span
                    >
                  </div>
                </div>
              </div>
              <!-- speaker eight -->
              <div
                class="item-headshot"
                style="width: 25%; align-items: center; padding: 20px 20px;">
                <div
                  class="item-speakers"
                  style="display: flex; flex-direction: column; align-items: center; background: #0f4266; padding: 40px 0;">
                  <img
                    class="img-fluid rounded-circle mb-3 img-thumbnail"
                    src="/2024speakers/yuichi_aoyama.jpg"
                    alt="Yuichi Aoyama"
                    style="max-width: 80px;" />
                  <div
                    style="display: flex; flex-direction: column; text-align: center;">
                    <p>{{ i18n "Yuichi Aoyama" }}</p>
                    <span class="small fw-light"
                      >{{ i18n "Cybertrust Japan Co., Ltd." }}</span
                    >
                  </div>
                </div>
              </div>
              <!-- /speaker eight -->
            </div>
            <!-- /speaker container -->
          </div>
          <!-- /this specific row -->
        </div>
        <!-- / al-index-meet -->
        <div class="al-index-sponsors">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <h1
              style="font-size: 60px; font-weight: 700; line-height: 80px; text-align: center;">
              {{ i18n "Thank you to our event sponsors and platinum sponsor members!" }}
            </h1>
            <div
              class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-5 al-backed-by-list">
              <a href="https://www.softbank.jp/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/Softbank.svg"
                    alt="Softbank"
                    class="al-backer-logo" />
                </div>
              </a>

              <a href="https://www.cloudlinux.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/cloudlinux.svg"
                    alt="CloudLinux"
                    class="al-backer-logo" />
                </div>
              </a>

              <a href="https://www.cybertrust.co.jp/almalinux/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/cybertrust-japan.svg"
                    alt="Cybertrust Japan"
                    class="al-backer-logo" />
                </div>
              </a>

              <a href="https://tuxcare.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/TuxCare_Horizontal_Logo_NoTagLine_White.svg"
                    alt="TuxCare"
                    class="al-backer-logo" />
                </div>
              </a>
            </div>
            <!--begin small logos -->
            <h1
              style="font-size: 40px; font-weight: 500; line-height: 45px; text-align: center;padding-top:40px;">
              {{ i18n "and to the rest of our project backers!" }}
            </h1>
            <div
              class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-5 al-backed-by-list">
              <a href="https://codenotary.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/codenotary.svg"
                    alt="Codenotary"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://engineering.fb.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/meta.svg"
                    alt="Meta"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://aws.amazon.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/aws.svg"
                    alt="Amazon AWS"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://azure.microsoft.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/azurelarge1.svg"
                    alt="Microsoft Azure"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.arm.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/arm.svg"
                    alt="ARM"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.sinenomine.net/offerings/linux/almalinux">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/sine_nomine_logo_grayscale.svg"
                    alt="Sine Nomine"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.equinix.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/equinix.svg"
                    alt="Equinix"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://ipinfo.io/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/ipinfo.svg"
                    alt="IPInfo"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://cpanel.net">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/cpanel.svg"
                    alt="CPanel"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.hivelocity.net">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/hivelocity.svg"
                    alt="Hivelocity"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://osuosl.org">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/osuosl.svg"
                    alt="OSU Open Source Lab"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.plesk.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/plesk.svg"
                    alt="Plesk"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://mattermost.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/mattermost.svg"
                    alt="Mattermost"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.algolia.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/logo-algolia-nebula-blue-full_a52auc4.svg"
                    alt="Algolia"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.knownhost.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/KnownHostLogoFLATWHITE.svg"
                    alt="KnownHost"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.amd.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/AMD_Logo.svg"
                    alt="AMD"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://black.host/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/blackhost_logo.svg"
                    alt="BlackHOST"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.cloudfest.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/Cloudfest_logo_2022_white_1.svg"
                    alt="CloudFest"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://procomputers.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/procomputers_logo_white.svg"
                    alt="ProComputers"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://orcharhino.com/en/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/orcharhino.svg"
                    alt="Orcharhino"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://world4you.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/w4y_logo_4C_white.svg"
                    alt="World4You"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.hawkhost.com">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/HawkHost.svg"
                    alt="HawkHost"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="#">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/retired/logo-openlogic-tagline-white.svg"
                    alt="OpenLogic"
                    class="al-backer-logo-small" />
                </div>
              </a>
              <a href="https://www.megware.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/MEGWARE.svg"
                    alt="MEGWARE"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.virtuozzo.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/virtuozzo.svg"
                    alt="Virtuozzo"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://home.cern/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/cern.svg"
                    alt="CERN"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://storpool.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/StorPool.svg"
                    alt="StorPool Storage AD"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://fastly.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/fastly.svg"
                    alt="Fastly"
                    class="al-backer-logo-small" />
                </div>
              </a>

              <a href="https://www.fsastech.com/">
                <div
                  class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                  <img
                    loading="lazy"
                    src="/brands/retired/fti_brand.svg"
                    alt="Fsas Technologies Inc."
                    class="al-backer-logo-small" />
                </div>
              </a>
            </div>
            <!--end small logos -->
          </div>
        </div>
        <div class="al-index-stop" style="background: #22C2FF;">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <div class="container-stop" style="display: flex;">
              <div class="stop-item-1" style="width: 60%;">
                <h1
                  style="font-size: 60px; font-weight: 700; line-height: 80px;">
                  {{ i18n "Can't make it?" }}
                </h1>
                <p style="font-weight: 400; line-height: 26px;">
                  {{ i18n "We'll miss you, but if you can't make it to AlmaLinux Day Tokyo, you can still enjoy the day! Just like last year, we'll be posting the videos from the talks at the event to share with everyone. Sign up for the AlmaLinux Newsletter below, so you don't miss the announcement!" }}
                </p>
              </div>
              <div class="stop-item-2" style="padding-left: 50px;">
                <h4 class="fw-bold mb-0 pb-2">
                  {{ i18n "Come hang out with us!" }}
                </h4>
                <ul>
                  <li class="social-item-mattermost sociallist">
                    <a href="https://chat.almalinux.org">chat.almalinux.org</a>
                  </li>
                  <li class="social-item-fosstadon sociallist">
                    <a href="https://fosstodon.org/@almalinux"
                      >fosstodon.org/@almalinux</a
                    >
                  </li>
                  <li class="social-item-twitter sociallist">
                    <a href="https://twitter.com/almalinux"
                      >twitter.com/almalinux</a
                    >
                  </li>
                  <li class="social-item-reddit sociallist">
                    <a href="https://reddit.com/r/almalinux"
                      >reddit.com/r/almalinux</a
                    >
                  </li>
                  <li class="social-item-lists sociallist">
                    <a href="https://lists.almalinux.org"
                      >lists.almalinux.org</a
                    >
                  </li>
                  <li class="social-item-discourse sociallist">
                    <a href="https://forums.almalinux.org"
                      >forums.almalinux.org</a
                    >
                  </li>
                  <li class="social-item-github sociallist">
                    <a href="https://github.com/AlmaLinux"
                      >github.com/AlmaLinux</a
                    >
                  </li>
                  <li class="social-item-wiki sociallist">
                    <a href="https://wiki.almalinux.org/">wiki.almalinux.org</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="al-index-image-by" style="background: #0e3b5c;">
          <div class="container al-py-md" style="padding: 0 40px 0 40px;">
            <p>{{ i18n "Header image by " }}</p>
            <p>
              <a
                style="color: #fff;"
                href="https://www.kpf.com/project/tokyo-port-city-takeshiba"
                >KPF</a
              >
            </p>
          </div>
        </div>
      </section>
    </div>
  </section>
{{ end }}
