{{ define "main" }}



<div class="al-body-container">
    
    

    <section class="al-page-page" dir="ltr">
        <div class="container py-5">
            <h1 class="al-section-title mb-4">{{ .Title }}</h1>
            <article>
                <div class="al-page-content pb-5 al-wysiwyg">

                    {{ .Content }}
                </div>
                <div class="al-page-date d-flex align-items-center"
                     title="July 25, 2021 1:14 p.m."
                     dir="ltr">
                    <i class="bi bi-calendar pe-1"></i>
                    <span>Published 1 year, 4 months ago</span>
                </div>
            </article>
        </div>
    </section>

</div>


{{ .Content }}


{{ end }}