{{ define "main" }}
  <div class="al-body-container " style="margin: auto;">
    <section class="al-page-page" dir="ltr">
      <div class="container py-5">
        <h1 class="al-section-title mb-4">{{ .Title }}</h1>
        <div class="row">
          <aside class="col-lg-3 mb-4 mb-lg-0 d-print-none">
            <nav
              class="al-page-toc{{ if .Params.tocFlat }}
                al-page-toc-flat
              {{ end }}"
              aria-label="{{ i18n "On this page" }}">
              <div class="al-page-toc-inner">
                <div class="al-page-toc-title">{{ i18n "On this page" }}</div>
                {{ .TableOfContents }}
              </div>
            </nav>
          </aside>
          <article class="col-lg-9">
            <div class="al-page-content pb-5 al-wysiwyg">
              {{ .Content }}
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
{{ end }}
