<div class="al-index-stop" style="background: #22C2FF;">
  <div class="container al-py-md" style="padding: 0 40px 0 40px;">
    <div class="container-stop" style="display: flex;">
      <div class="stop-item-1" style="width: 60%;">
        <h1 style="font-size: 60px; font-weight: 700; line-height: 80px;">
          {{ i18n "Can't make it?" }}
        </h1>
        <div>
          {{ i18n "We'll miss you, but if you can't make it to AlmaLinux Day this time, you can still enjoy the day! Just like our other events, we'll be posting the videos from the event as soon as we can afterward. Sign up for the AlmaLinux Newsletter below, so you don't miss the announcement!" }}
        </div>
      </div>
      <div class="stop-item-2" style="padding-left: 50px;">
        <h4 class="fw-bold mb-0 pb-2">{{ i18n "Come hang out with us!" }}</h4>
        <ul>
          <li class="social-item-mattermost sociallist">
            <a href="https://chat.almalinux.org">chat.almalinux.org</a>
          </li>
          <li class="social-item-fosstadon sociallist">
            <a href="https://fosstodon.org/@almalinux">fosstodon.org/@almalinux</a>
          </li>
          <li class="social-item-twitter sociallist">
            <a href="https://x.com/almalinux">x.com/almalinux</a>
          </li>
          <li class="social-item-reddit sociallist">
            <a href="https://reddit.com/r/almalinux">reddit.com/r/almalinux</a>
          </li>
          <li class="social-item-lists sociallist">
            <a href="https://lists.almalinux.org">lists.almalinux.org</a>
          </li>
          <li class="social-item-discourse sociallist">
            <a href="https://forums.almalinux.org">forums.almalinux.org</a>
          </li>
          <li class="social-item-github sociallist">
            <a href="https://github.com/AlmaLinux">github.com/AlmaLinux</a>
          </li>
          <li class="social-item-wiki sociallist">
            <a href="https://wiki.almalinux.org/">wiki.almalinux.org</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
