<div
  class="al-index-topic-ALD"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('{{ .Params.hero_image }}');">
  <div class="container al-py-lg">
    <div class="topic_item_1" style="padding-top: 15%;">
      <h1>{{ i18n .Params.event_name | default .Params.event_name }}</h1>
      <h3>
        {{ with .Params.event_tagline }}{{ i18n . | default . }}<br />{{ end }}
        {{ i18n .Params.event_date | default .Params.event_date }}
        {{ with .Params.event_time }}<br />{{ i18n . | default . }}{{ end }}
      </h3>
      {{ with .Params.venue }}
      <div>
        {{ range . }}{{ . }}<br />{{ end }}
        {{ with $.Params.venue_link }}
        <a href="{{ . }}">{{ i18n ($.Params.venue_link_text | default "Getting here") | default ($.Params.venue_link_text | default "Getting here") }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    <div class="topic_item_2" style="padding-top: 30px;">
      <a
        href="{{ .Params.registration_url }}"
        class="btn btn-lg px-4 me-md-2 {{ .Params.registration_button | default "al-cta-blue" }}">
        <i class="bi bi-box-arrow-in-right al-index-community-icon"></i>
        {{ i18n (.Params.registration_cta | default "Reserve your spot!") | default (.Params.registration_cta | default "Reserve your spot!") }}
      </a>
    </div>
  </div>
</div>
