<style>
  @media (max-width: 1199px) {
    h1 {
      font-size: 60px !important;
    }
    .toppic_item_1 {
      padding-top: 18% !important;
    }
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 50px !important;
    }
    h2 {
      font-size: 40px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    .container-event {
      max-height: none !important;
      flex-direction: column !important;
      align-items: center;
    }
    .item-event-1 {
      width: 50%;
      text-align: center;
      margin-bottom: 20px;
    }
    .item-event-2 {
      padding-left: 0 !important;
    }
    .item-headshot {
      width: 50% !important;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 30px !important;
      line-height: normal !important;
    }
    h2 {
      font-size: 25px !important;
    }
    .toppic_item_1 {
      padding-top: 44% !important;
    }
  }
  @media (max-width: 474px) {
    .item-headshot {
      width: 80% !important;
    }
    table {
      font-size: 8px !important;
    }
  }
</style>
