<aside class="al-post-event-float">
  <h3 class="al-post-event-title">
    {{ i18n "Thank you" }}, {{ .Params.thankyou_city }}!
  </h3>
  <div class="al-post-event-quote">
    <i>{{ .Params.thankyou_quote }}</i>
    <div class="mt-2">--benny Vasquez</div>
    <span class="small text-uppercase d-block"
      >{{ i18n "Chair of the Board of Directors" }}</span
    >
    <span class="small fw-light">AlmaLinux OS Foundation</span>
  </div>
  {{ with .Params.thankyou_youtube_url }}
    <div class="text-center mt-3">
      <a href="{{ . }}" class="btn px-3 al-cta-blue">
        {{ i18n "See the recordings on Youtube" }}
      </a>
    </div>
  {{ end }}
</aside>
