
{{ define "main" }}
<style>
@media (max-width: 800px){
    .display-5 {
        font-size: calc(1.425rem + 2.1vw) !important;
        line-height: 1.2;
    }
    .row-cols-1 > * {
        flex: 0 0 auto;
        width: 100%;
    }
    .d-grid {
        display: grid !important;
    }
    .row-cols-2 > * {
        flex: 0 0 auto;
        width: 50%;
    }
    .container-security {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column!important;
    }
    .container-measure {
        width: 100%!important;
    }
}
@media (min-width: 800px) {
    .display-5 {
        font-size: 3rem;
    }
}
.lh-1 {
    line-height: 1 !important;
}
.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
.al-page-index .al-hero-cta-primary {
    margin:10px;
}
.row > * {
    margin-top: 20px;
}
@media (min-width: 768px) {
    .row-cols-md-6 > * {
        flex: 0 0 auto;
        width: 16.66667%;
    }
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
</style>

<div class="al-body-container">

    <section class="al-page-index">
        <!-- HERO -->
        <div class="al-index-container" style="background: #0e3b5c!important;">
          <div class="container px-0 al-py-lg">  
            <div class="row flex-lg-row-reverse align-items-center py-2 py-md-5">
                <div class="d-none d-lg-block col-10 col-sm-8 col-lg-6">


                        <img src="/images/hero.png" class="d-block mx-lg-auto img-fluid" alt="Hero image" width="624" height="430">

                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-1 mb-5 mb-md-3">
                        {{ i18n "Free Linux OS for the community, by the community" }}
                    </h1>
                    <p class="lead mb-5 mb-md-3">
                        {{ i18n "An Open Source, community owned and governed, forever-free enterprise Linux distribution, focused on long-term stability, providing a robust production-grade platform. AlmaLinux OS is binary compatible with RHEL®." }}
                    </p>
                    <div class="d-grid gap-3 d-md-flex justify-content-md-start pt-3">
                        <a href="{{ "/contribute" | relLangURL }}" class="btn btn-lg px-4 me-md-2 al-hero-cta-primary">
                            <i class="bi bi-people pe-1"></i>
                            {{ i18n "Contribute" }}
                        </a>
                        <a href="{{ "/get-almalinux" | relLangURL }}" class="btn btn-lg px-4 al-hero-cta-secondary">
                            <i class="bi bi-download pe-1"></i>
                            {{ i18n "Download" }}
                        </a>
                        <a href="https://wiki.almalinux.org/documentation/migration-guide" class="btn btn-lg px-4 al-hero-cta-tertiary">
                            <img src="/images/icon-migrate.svg" alt="Icon" class="pe-1">
                            {{ i18n "Migrate" }}
                        </a>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <!-- USED BY -->
		<div class="al-index-used-by al-py-lg" >
            <div class="container">
                <h4 class="pb-2 border-bottom">
                    {{ i18n "Trusted by" }}
                </h4>
                <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-5 al-used-by-list">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-user-logo-container">
                                <img loading="lazy" src="/usedby/phoronix.svg" alt="Phoronix" class="al-user-logo">
                            </div>	
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-user-logo-container">
                                <img loading="lazy" src="/usedby/akamai.svg" alt="Akamai" class="al-user-logo">
                            </div>	
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-user-logo-container">
                                <img loading="lazy" src="/usedby/arista.svg" alt="Arista" class="al-user-logo">
                            </div>	
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-user-logo-container">
                                <img loading="lazy" src="/usedby/colorodostateuniveristy.svg" alt="Colorado State University" class="al-user-logo">
                            </div>	
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-user-logo-container">
                                <img loading="lazy" src="/usedby/hetzner.png" alt="Hetzner" class="al-user-logo">
                            </div>	
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-user-logo-container">
                                <img loading="lazy" src="/usedby/lacework.svg" alt="Lacework" class="al-user-logo">
                            </div>	
				</div><!-- end logo list entry -->
			</div>
		</div><!-- end USED BY -->
        <!-- COMMUNITY -->
        <div class="al-index-community-container" style="background: #0f4266!important">
            <div class="container al-py-md">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 py-md-5">
                    <div class="col d-flex align-items-stretch">
                        <i class="bi bi-github al-index-community-icon"></i>
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">GitHub</h4>
                            <p>
                                {{ i18n "Our GitHub organization contains source code and tools used to build AlmaLinux OS and related infrastructure." }}
                            </p>
                            <div class="pt-1" >
                                <a href="https://github.com/AlmaLinux/" class="btn btn-primary al-community-cta">
                                    {{ i18n "Explore" }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/icon-reddit.svg" alt="Reddit">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">Reddit</h4>
                            <p>
                                {{ i18n "Join our vibrant Reddit community, interact with other AlmaLinux OS users, receive updates, find and provide help." }}
                            </p>
                            <div class="pt-1" >
                                <a href="https://www.reddit.com/r/almalinux" class="btn btn-primary al-community-cta reddit">
                                    {{ i18n "Join" }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <i class="bi bi-chat-dots al-index-community-icon"></i>
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">
                                {{ i18n "Community chat" }}
                            </h4>
                            <p>
                                {{ i18n "Join a real time discussion with other AlmaLinux OS community members, governance team and AlmaLinux OS developers." }}
                            </p>
                            <div class="pt-1" >
                                <a href="https://chat.almalinux.org" class="btn btn-primary al-community-cta">
                                    {{ i18n "Engage" }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <i class="bi bi-journals al-index-community-icon"></i>
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">{{ i18n "Community forums" }}</h4>
                            <p>
                                {{ i18n "Ask questions, get answers and contribute community support to others in AlmaLinux OS community and developers alike." }}
                            </p>
                            <div class="pt-1">
                                <a href="https://forums.almalinux.org" class="btn btn-primary al-community-cta">
                                    {{ i18n "Discover" }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ABOUT SHORT -->
        <div class="al-index-about" style="background: #0e3b5c!important;">
            <div class="container al-py-md">
                <div class="row d-flex align-items-center justify-content-center py-2 py-md-5">
                    <div class="col-12 col-md-12">
                        <h2 class="pb-3">{{ i18n "About AlmaLinux OS" }}</h2>
                        <p>
                            {{ i18n "AlmaLinux OS is an open-source, community-driven Linux operating system that fills the gap left by the discontinuation of the CentOS Linux stable release. AlmaLinux OS is an Enterprise Linux distro, binary compatible with RHEL®, and guided and built by the community." }}
                        </p>
                        <p>
                            {{ i18n "As a standalone, completely free OS, AlmaLinux OS enjoys $1M in annual sponsorship from CloudLinux Inc. and support from more than 25 other sponsors. Ongoing development efforts are governed by the members of the community." }}
                        </p>
                        <p>
                            {{ i18n "The AlmaLinux OS Foundation is a 501(c)(6) non-profit created for the benefit of the AlmaLinux OS community." }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

 <!-- GET ALMALINUX -->
         <div id="downloads" class="al-index-community-container" style="background: #0f4266!important">
            <div class="container al-py-lg">
                <h2 class="pb-2 text-center border-bottom">{{ i18n "Get AlmaLinux OS" }}</h2>
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 py-md-5">
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/iso-icon-F.svg" alt="ISO Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">ISO Images</h4>
                              <p>
                                {{ i18n "AlmaLinux supports 4 architectures:" }}
                                <ul>
                                <li>x86_64</li>
                                <li>aarch64</li>
                                <li>ppc64le</li>
                                <li>s390x</li>
                                </ul>
                                <a href="https://mirrors.almalinux.org/isos.html">{{ i18n "Download ISO from mirrors" }}</a>
                              </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/cloud-icon-F.svg" alt="Cloud Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">Cloud Images</h4>
                            <p>
                                {{ i18n "AlmaLinux provides official images for cloud providers:" }} <br><br>
                                <a href="https://wiki.almalinux.org/cloud/AWS.html">Amazon AWS</a> <br>
                                <a href="https://wiki.almalinux.org/cloud/Generic-cloud.html">Generic Cloud</a> <br>
                                <a href="https://wiki.almalinux.org/cloud/Google.html">Google Cloud</a> <br>
                                <a href="https://wiki.almalinux.org/cloud/Azure.html">Microsoft Azure</a> <br>
                                <a href="https://wiki.almalinux.org/cloud/OpenNebula.html">OpenNebula</a> <br>
                                <a href="https://wiki.almalinux.org/cloud/OCI.html">Oracle Cloud Infrastructure</a> <br>                        
                            </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                         <img loading="lazy" class="al-index-community-icon img" src="/images/container-icon-F.svg" alt="Container Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">Container Images</h4>
                            <p>
                                {{ i18n "AlmaLinux provides official OCI, Docker and UBI compatible images." }} <br><br>
                                <a href="https://hub.docker.com/_/almalinux">{{ i18n "Get Docker Image" }}</a> <br>
                                <a href="https://quay.io/organization/almalinuxorg">{{ i18n "Get OCI Image from Quay.io" }}</a><br>
                                <a href="https://github.com/orgs/AlmaLinux/packages">{{ i18n "Get OCI Image from GitHub" }}</a>
                            </p>    
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/live-icon-F.svg" alt="Live Media Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">Live Media</h4>
                            <p>
                                {{ i18n "AlmaLinux builds Live Media images for GNOME, GNOME Mini, KDE, XFCE and MATE options." }} <br><br>
                                <a href="https://wiki.almalinux.org/LiveMedia.html">{{ i18n "Get Live Media Image" }}</a> 
                            </p>
                        </div>
                    </div>
                </div>
                 <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 py-md-5">
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/vagrant-icon-F1.svg" alt="Vagrant Box Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">Vagrant Boxes</h4>
                              <p>
                                {{ i18n "AlmaLinux provides official images for Vagrant:" }}
                                <ul>
                                <li>Libvirt</li>
                                <li>VirtualBox</li>
                                <li>Hyper-V</li>
                                <li>VMWare</li>
                                <li>Parallels</li>
                                </ul>
                                <a href="https://app.vagrantup.com/almalinux">{{ i18n "Get AlmaLinux on Vagrant Cloud" }}</a>
                              </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/lxd-lcx-icon-F.svg" alt="LXC/LXD Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">LXC/LXD</h4>
                            <p>
                                {{ i18n "AlmaLinux images are available for LXC/LXD." }} <br><br>
                                <a href="https://images.linuxcontainers.org">{{ i18n "Get LXC/LXD Images" }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/raspberry-pi-icon-F.svg" alt="Raspberry Pi Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">Raspberry Pi</h4>
                            <p>
                                {{ i18n "AlmaLinux builds Raspberry Pi images, and also with GNOME desktop environment." }} <br><br>
                                <a href="https://wiki.almalinux.org/documentation/raspberry-pi.html">{{ i18n "Get Raspberry Pi Image" }}</a>
                            </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-stretch">
                        <img loading="lazy" class="al-index-community-icon img" src="/images/wsl-icon-F.svg" alt="WSL Image">
                        <div class="al-index-community-content-wrap">
                            <h4 class="fw-bold mb-0 pb-2">WSL</h4>
                            <p>
                                {{ i18n "Run the AlmaLinux terminal environment on Windows." }} <br><br>
                                <a href="https://wiki.almalinux.org/documentation/wsl.html">{{ i18n "Get AlmaLinux for WSL" }}</a>
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>


        <!-- SECURITY -->
        <div class="al-index-security-container" style="background: #0e3b5c!important;">
            <div class="container al-py-lg" style="padding: 48px 15px;">
                <h2 class="pb-2 text-center border-bottom" style="border-bottom-color: #14598a!important;">Security</h2>
                <div class="container al-py-md" style="padding: 48px 0 0 0!important;">
                    <div class="container-security" style="display: flex; justify-content: space-between;">
                        <div class="container-measure" style="display: flex; width: 32%;">
                            <img loading="lazy" class="al-index-community-icon img" src="/images/errata-iconA.svg" style="height: 32px; width: 32px;">
                            <div class="al-index-community-content-wrap" style="padding-left: 22px">
                                <h4 class="fw-bold mb-0 pb-2">Errata</h4>
                                <p>
                                    {{ i18n "AlmaLinux OS Foundation publishes Errata to help users to determine what updates such as security issues and fixed bugs are available and their importance based on analysis." }}
                                </p>
                            </div>
                        </div>
                        <div class="container-measure" style="display: flex; width: 32%;">
                            <img loading="lazy" class="al-index-community-icon img" src="/images/open_vul_assessment_icon_B.svg" style="height: 32px; width: 32px;">
                            <div class="al-index-community-content-wrap" style="padding-left: 22px">
                                <h4 class="fw-bold mb-0 pb-2">OpenSCAP and OVAL</h4>
                                <p>
                                    {{ i18n "AlmaLinux OS provides SCAP and SCAP Workbench packages to audit your AlmaLinux system for security compliance alongside OVAL streams." }}
                                </p>
                            </div>
                        </div>
                        <div class="container-measure" style="display: flex; width: 32%;">
                            <img loading="lazy" class="al-index-community-icon img" src="/images/sbom_iconF.svg" style="height: 32px; width: 32px;">
                            <div class="al-index-community-content-wrap" style="padding-left: 22px">
                                <h4 class="fw-bold mb-0 pb-2">Software Bill of Materials</h4>
                                <p>
                                    {{ i18n "AlmaLinux OS has implemented SBOM into AlmaLinux Build System to make the build process more secure and possible to trace." }}
                                </p>
                            </div>
                        </div>
                    </div>
                     <br><p>
                        {{ i18n "AlmaLinux OS provides a set of security features: Errata, GPG keys, Mailing Lists, OpenSCAP, OVAL, SBOM, and Secure Boot" }}- <a href="{{ "security" | relLangURL }}">{{ i18n "read more" }}</a>.
                    </p>
                </div>
            </div>
        </div>
        <!-- BACKERS -->
        <div class="al-index-backed-by al-py-lg" >
            <div class="container">
                <h2 class="pb-2 text-center border-bottom">
                    {{ i18n "Backed by" }}
                </h2>
                <div class="row row-cols-2 row-cols-sm-4 row-cols-md-6 g-5 al-backed-by-list ">

                        <a href="https://www.cloudlinux.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/cloudlinux.svg" alt="CloudLinux" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.cybertrust.co.jp/almalinux/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/cybertrust-japan.svg" alt="Cybertrust Japan" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://tuxcare.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/TuxCare_Horizontal_Logo_NoTagLine_White.svg" alt="TuxCare" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://codenotary.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/codenotary.svg" alt="Codenotary" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://aws.amazon.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/aws.svg" alt="Amazon AWS" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://azure.microsoft.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/azurelarge1.svg" alt="Microsoft Azure" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.arm.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/arm.svg" alt="ARM" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://www.sinenomine.net/offerings/linux/almalinux">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/sine_nomine_logo_grayscale.svg" alt="Sine Nomine" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.equinix.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/equinix.svg" alt="Equinix" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://cpanel.net">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/cpanel.svg" alt="cPanel" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://ipinfo.io/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/ipinfo.svg" alt="IPInfo" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.hivelocity.net">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/hivelocity.svg" alt="Hivelocity" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://osuosl.org">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/osuosl.svg" alt="OSU Open Source Lab" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.plesk.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/plesk.svg" alt="Plesk" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://mattermost.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/mattermost.svg" alt="Mattermost" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.algolia.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/logo-algolia-nebula-blue-full_a52auc4.svg" alt="Algolia" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.knownhost.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/KnownHostLogoFLATWHITE.svg" alt="KnownHost" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.amd.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img style="height: 70%;" loading="lazy" src="/brands/AMD_Logo.svg" alt="AMD" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://black.host/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/blackhost_logo.svg" alt="BlackHOST" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://www.cloudfest.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/Cloudfest_logo_2022_white_1.svg" alt="CloudFest" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://procomputers.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/procomputers_logo_white.svg" alt="ProComputers" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://orcharhino.com/en/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/orcharhino.svg" alt="Orcharhino" class="al-backer-logo">
                            </div>
                        </a>

                        <a href="https://world4you.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/w4y_logo_4C_white.svg" alt="World4You" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://www.hawkhost.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/HawkHost.svg" alt="HawkHost" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://openlogic.com">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/logo-openlogic-tagline-white.svg" alt="OpenLogic" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://www.megware.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/MEGWARE.svg" alt="MEGWARE" class="al-backer-logo">
                            </div>
                        </a>
						
                        <a  href="https://www.virtuozzo.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/virtuozzo.svg" alt="Virtuozzo" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://home.cern/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/cern.svg" alt="CERN" class="al-backer-logo">
                            </div>
                        </a>

                        <a  href="https://storpool.com/">
                            <div class="col d-flex flex-fill align-items-center justify-content-center al-backer-logo-container">
                                <img loading="lazy" src="/brands/StorPool.svg" alt="StorPool Storage AD" class="al-backer-logo">
                            </div>
                        </a>
                </div>
            </div>
        </div>

        <!-- FEATURES -->
        <div class="al-index-feature-container">
            <div class="container al-py-md">
                <div class="row row-cols-1 row-cols-md-3 pt-2 pt-md-5">
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-battery-charging al-index-feature-icon"></i>
                        <div>
                            <h4 class="fw-bold mb-0 pb-2">{{ i18n "Production-ready" }}</h4>
                            <p>
                                {{ i18n "AlmaLinux OS is an enterprise-grade server OS and a stable Linux distribution with regular releases that come with a long support windows. You can rely on AlmaLinux OS to run any and every critical workloads." }}
                            </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-people al-index-feature-icon"></i>
                        <div>
                            <h4 class="fw-bold mb-0 pb-2">{{ i18n "Fully supported, always free" }}</h4>
                            <p>
                                {{ i18n "AlmaLinux OS Foundation members, sponsors and partners back the AlmaLinux OS with investments and long support commitments to ensure the distribution is free of limitations, fees and charges." }}
                            </p>
                        </div>
                    </div>
                    <div class="col d-flex align-items-start">
                        <i class="bi bi-emoji-smile al-index-feature-icon"></i>
                        <div>
                            <h4 class="fw-bold mb-0 pb-2">{{ i18n "Effortless to switch to" }}</h4>
                            <p>
                                {{ i18n "Switching distributions is usually costly and time-consuming, but that's not the case when switching from CentOS and other RHEL® derivatives to AlmaLinux OS." }} {{ i18n "Switching is easy" }} - <a href="https://github.com/AlmaLinux/almalinux-deploy">{{ i18n "read how" }}.</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- COMMERCIAL SUPPORT -->
        <div class="al-index-commercial-support al-py-lg">
            <div class="container">
                <h2 class="text-center">
                    {{ i18n "Commercial Support" }}
                </h2>
				<p class="text-center pb-2 mb-5 border-bottom">Minimize your risk while getting the most out of your AlmaLinux systems</p>
				<!-- to add a row, copy everything from 'start' to 'end' in one of the other rows, and update all of the information appropriately. order-md-last in the class of the image div will display the image right-justified instead of left. -->
				
				 <!-- start CyberTrust row -->
                 <div class="row al-commercial-supporter-list">
                     <div class="col-12 col-md-4 al-commercial-supporter-logo-container d-flex flex-fill justify-content-center">
					     <a href="https://www.cybertrust.co.jp/almalinux/">
                             <img loading="lazy" src="/brands/cybertrust-japan.svg" alt="CyberTrust Japan" class="al-commercial-supporter-logo">
						 </a>
                     </div>
					<div class="col-12 col-md-8">
					    <p>Cybertrust Japan is a provider of a comprehensive security certification services to various public and private entities globally, and offers comprehensive support for AlmaLinux users. Have also produced MIRACLE LINUX for nearly 20 years.</p>
					    <a href="https://www.cybertrust.co.jp/almalinux/">Get support</a>
                    </div>
                </div>
				<!-- end CyberTrust row -->
				 <!-- start Tuxcare row -->
                 <div class="row al-commercial-supporter-list">
                     <div class="col-12 col-md-4 al-commercial-supporter-logo-container d-flex flex-fill justify-content-center order-md-last">
					     <a href="https://tuxcare.com/almalinux-enterprise-support/">
                             <img loading="lazy" src="/brands/tuxcare_withtagline.svg" alt="Tuxcare" class="al-commercial-supporter-logo">
						 </a>
                     </div>
					<div class="col-12 col-md-8">
					    <p>For organizations running AlmaLinux, TuxCare’s Enterprise Support provides extended support for up to 16 years, FIPS-compliant security patches, zero-reboot patching, and much more.</p>
					    <a href="https://tuxcare.com/almalinux-enterprise-support/">Get support</a>
                    </div>
                </div>
				<!-- end Tuxcare row -->
				<!-- start OpenLogic row -->
                <div class="row al-commercial-supporter-list">
                    <div class="col-12 col-md-4 al-commercial-supporter-logo-container d-flex flex-fill justify-content-center">
					    <a href="https://www.openlogic.com/solutions/enterprise-linux-support/almalinux">
                            <img loading="lazy" src="/brands/logo-openlogic-tagline-white.svg" alt="OpenLogic" class="al-commercial-supporter-logo">
						</a>
                     </div>
					 <div class="col-12 col-md-8">
						<p>Confidently deploy AlmaLinux and all your open source packages with enterprise-grade, 24/7/365 support backed by guaranteed SLAs. Keep your mission-critical apps running smoothly with unlimited tickets and direct access to experienced enterprise architects who put your business first.</p>
						<a href="https://www.openlogic.com/solutions/enterprise-linux-support/almalinux">Get support</a>
                     </div>
                 </div>
				<!-- end OpenLogic row -->				
            </div>
        </div>


        <!-- FAQ -->
        <div class="al-index-faq">
            <div class="container al-py-lg">
                <h2 class="mb-5">
                    {{ i18n "Answers to Key Questions" }}
                </h2>
                <div class="accordion accordion-flush" id="accordionFAQ">
                    <div class="accordion-item mb-3" >
                       <h2 class="accordion-header" id="flush-heading-1">
                            <button
                            class="accordion-button"
                            type="button"

                            data-toggle="collapse" data-target="#flush-collapse-1" aria-expanded="true" aria-controls="flush-collapse-1">
                                {{ i18n "Who is AlmaLinux OS for?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-1" class="accordion-collapse collapse show" aria-labelledby="flush-heading-1" data-parent="#accordionFAQ" >
                         <div class="accordion-body">
                             {{ i18n "Individuals and organizations that require an enterprise-grade linux distribution, without the need for a commercial license agreement. AlmaLinux OS is also a perfect replacement for anyone who has historically relied on the CentOS Linux releases to achieve computing objectives, and for whom CentOS Stream is not the right solution." }}
                          </div>
                        </div>
                   </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-2">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-2" aria-expanded="true" aria-controls="flush-collapse-3">
                                {{ i18n "What does ABI/binary compatible with RHEL mean?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-2" class="accordion-collapse collapse" aria-labelledby="flush-heading-2" data-parent="#accordionFAQ" >
                            <div class="accordion-body">
                                {{ i18n "In July of 2023, " }} <a href="{{ "blog/future-of-almalinux/" | relLangURL }}">{{ i18n "we announced" }}</a> {{ i18n " that we were shifting our goal from being a downstream rebuild of RHEL to maintaining ABI compatibility with RHEL. For the AlmaLinux team that means that everything from software applications to kernel modules that work on RHEL will work on AlmaLinux, and if they don't we would consider that a bug." }}
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-3">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-3" aria-expanded="true" aria-controls="flush-collapse-3">
                                {{ i18n "Is AlmaLinux OS FIPS-140 compliant??" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-3" class="accordion-collapse collapse" aria-labelledby="flush-heading-3" data-parent="#accordionFAQ" >
                            <div class="accordion-body">
                                {{ i18n "AlmaLinux OS 9.2 is FIPS-140 compliant. Read more in this blog post: " }} <a href="{{ "blog/2023-09-19-fips-validation-for-almalinux/" | relLangURL }}">{{ i18n "FIPS Validation for AlmaLinux OS" }}</a>
                            </div>
                        </div>
                    </div>
					
                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-4">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-4" aria-expanded="true" aria-controls="flush-collapse-4">
                                {{ i18n "Why did we call it AlmaLinux OS?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-4" class="accordion-collapse collapse" aria-labelledby="flush-heading-4" data-parent="#accordionFAQ" >
                            <div class="accordion-body">
                                {{ i18n "Alma means soul in Spanish and other Latin languages. Looking back, it is easy to see that Linux is as popular and pervasive as it is thanks to the efforts of a passionate, diverse developer community. This community is the soul of Linux, and everyone that relies on a Linux distribution is indebted to the efforts of the Linux community. That is why we called our new distribution AlmaLinux OS." }}
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-5">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-5" aria-expanded="true" aria-controls="flush-collapse-5">
                                {{ i18n "What motivated us?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-5" class="accordion-collapse collapse" aria-labelledby="flush-heading-5" data-parent="#accordionFAQ" >
                            <div class="accordion-body">
                                {{ i18n "The initial backers and supporters for AlmaLinux OS were already extremely active in the enterprise Linux ecosystem, and had significant experience with RHEL forks. They knew the impact that the loss of CentOS Linux would have across all industries, and had the means and knowledge to help." }}
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-6">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-6" aria-expanded="true" aria-controls="flush-collapse-6">
                                {{ i18n "How is the community protected from future course changes for AlmaLinux OS?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-6" class="accordion-collapse collapse" aria-labelledby="flush-heading-6" data-parent="#accordionFAQ" >
                            <div class="accordion-body">
                                {{ i18n "The AlmaLinux OS Foundation is a 501(c)(6) that was founded in March of 2021 to own and manage the AlmaLinux OS project. We have been involving the community since the beginning, and the governing board is chosen by members of the foundation. At all times, AlmaLinux OS will be free and open." }}
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-7">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-7" aria-expanded="true" aria-controls="flush-collapse-7">
                                {{ i18n "I want to convert from CentOS to AlmaLinux OS. How do I do it?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-7" class="accordion-collapse collapse " aria-labelledby="flush-heading-7" data-parent="#accordionFAQ">
                            <div class="accordion-body">
                                {{ i18n "Switching Linux distros can be a headache, but that is not the case when switching from CentOS to AlmaLinux OS. Using " }} <a href="https://github.com/AlmaLinux/almalinux-deploy">{{ i18n "AlmaLinux-deploy" }}<a> {{ " you can migrate to AlmaLinux in-place. If you are coming from CentOS 7, or need to upgrade between major versions, " }} <a href="{{ "elevate" | relLangURL }}">{{ i18n "ELevate" }}</a> {{ i18n " (developed and maintained by the AlmaLinux Community) allows you to migrate to, and upgrade AlmaLinux in-place." }}
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-8">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-8" aria-expanded="true" aria-controls="flush-collapse-8">
                                {{ i18n "Can I really port an entire fleet of servers from CentOS to AlmaLinux OS with a single command?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-8" class="accordion-collapse collapse " aria-labelledby="flush-heading-8" data-parent="#accordionFAQ">
                            <div class="accordion-body">
                                {{ i18n "Since AlmaLinux is binary compatible with RHEL®, your applications and services should be completely interoperable. You can rapidly migrate any number of servers using " }}<a href="https://github.com/AlmaLinux/almalinux-deploy">{{ i18n "AlmaLinux-deploy." }}<a>

                                {{ i18n "If you are using CentOS 7 or 8 and need help upgrading and migrating, check out" }} <a href="{{ "elevate" | relLangURL }}">{{ i18n "ELevate." }}</a> 
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mb-3">
                        <h2 class="accordion-header" id="flush-heading-9">
                            <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#flush-collapse-9" aria-expanded="true" aria-controls="flush-collapse-9">
                                {{ i18n "When will support AlmaLinux OS 8 and 9 reach end of life?" }}
                            </button>
                        </h2>
                        <div id="flush-collapse-9" class="accordion-collapse collapse " aria-labelledby="flush-heading-9" data-parent="#accordionFAQ">
                            <div class="accordion-body">
                                {{ i18n "The AlmaLinux OS Foundation has committed to supporting AlmaLinux OS 8.x until 2029, and AlmaLinux 9.x until 2032. This includes stable and thoroughly tested updates and security patches." }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="al-index-newsletter">
            <div class="container al-py-lg">
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                        <h2 class="mb-2">
                            {{ i18n "Stay updated!" }}
                        </h2>
                        <h6 class="mb-4">
                            {{ i18n "Subscribe to our mailing lists and never miss out on the latest in AlmaLinux OS development!" }}
                        </h6>
						<div class="row">
							<a href="https://lists.almalinux.org/mailman3/lists/?all-lists">{{ i18n "AlmaLinux Mailing lists" }}</a>
						</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- PRESS -->
        <div class="al-index-press al-py-lg">
            <div class="container">
                <h2 class="pb-2 mb-3">
                    {{ i18n "AlmaLinux OS in the Press" }}
                </h2>
                <div class="row">

                        <div class="al-index-press-item">
                            <figure>
                                <blockquote class="blockquote">One of the most significant features of AlmaLinux is its binary compatibility with Red Hat Enterprise Linux (RHEL). This compatibility ensures that software developed and tested on RHEL can be easily deployed on AlmaLinux without modifications, making it an attractive choice for businesses seeking a seamless migration path.</blockquote>
                                <figcaption class="blockquote-footer">
                                    <a href="https://filmdaily.co/tech/almalinux/">
                                        <cite title="AlmaLinux: A Robust and Secure Alternative to CentOS">Frankie Stein @ FILM DAILY - AlmaLinux: A Robust and Secure Alternative to CentOS</cite>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="al-index-press-item">
                            <figure>
                                <blockquote class="blockquote">Despite Red Hat’s actions, it appears at least one of the RHEL clones is thriving and showing how open source can deal with similar threats.</blockquote>
                                <figcaption class="blockquote-footer">
                                    <a href="https://www.webpronews.com/almalinux-maintain-rhel-compatibility-as-promised/">
                                        <cite title="AlmaLinux Maintain RHEL Compatibility As Promised">Matt Milano @ WebPros News - AlmaLinux Maintain RHEL Compatibility As Promised</cite>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="al-index-press-item">
                            <figure>
                                <blockquote class="blockquote">Joe Brockmeier, an open-source community expert, and former Red Hatter, appreciates what AlmaLinux is doing. 'The AlmaLinux community has chosen to be the friendly fork.'</blockquote>
                                <figcaption class="blockquote-footer">
                                    <a href="https://www.zdnet.com/article/almalinux-is-dropping-out-of-the-rhel-clone-wars/">
                                        <cite title="Make Linux, not war? AlmaLinux opts for kinder, gentler course in RHEL clone conflict">Steven Vaughan Nichols @ ZDNet - Make Linux, not war? AlmaLinux opts for kinder, gentler course in RHEL clone conflict</cite>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="al-index-press-item">
                            <figure>
                                <blockquote class="blockquote">AlmaLinux announced that the distro’s latest and greatest, AlmaLinux 9.2, now has FIPS 140-3 certification, which means it has passed the Federal Information Processing Standard’s latest benchmark for validating the effectiveness of cryptographic hardware.</blockquote>
                                <figcaption class="blockquote-footer">
                                    <a href="https://fossforce.com/2023/09/almalinux-is-now-fips-certified/">
                                        <cite title="AlmaLinux Is Now FIPS Certified">Christine Hall @ FossForce - AlmaLinux Is Now FIPS Certified</cite>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="al-index-press-item">
                            <figure>
                                <blockquote class="blockquote">AlmaLinux was one of the first such alternatives, and it has quickly risen to the top of the heap.</blockquote>
                                <figcaption class="blockquote-footer">
                                    <a href="https://thenewstack.io/linux-and-cloud-native-security-almalinux/">
                                        <cite title="The New Stack - Linux and Cloud Native Security: AlmaLinux">Jack Wallen @ The New Stack - Linux and Cloud Native Security: AlmaLinux</cite>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                        <div class="al-index-press-item">
                            <figure>
                                <blockquote class="blockquote">AlmaLinux very quickly became the CentOS replacement to beat. 48 hours after Red Hat released version 8.5 of Red Hat Enterprise Linux (RHEL), the developers released version 8.5 of AlmaLinux.</blockquote>
                                <figcaption class="blockquote-footer">
                                    <a href="https://thenewstack.io/linux-distros-year-in-review/">
                                        <cite title="The New Stack - Linux Distros: Year in Review">Jack Wallen @ The New Stack - Linux Distros: Year in Review</cite>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>

                </div>
            </div>
    </div></section>

</div>

{{ end }}

