{{ define "main" }}
<style>
  img {
    max-width: 100%;
  }
  #hc-hero {
    background: #0e3b5c;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  #hc-hero h1 {
    font-weight: 800;
    font-size: 2.3rem;
  }
  #hc-hero h2 {
    font-size: 1.7rem;

  }
  #hc-hero img {
    border-radius: 1rem;
  }
  #hc-hero .row {
    align-items: center;
  }
  .btn-row {
    text-align: center;
  }
  .btn-row div {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  .btn-box {
    width: 100%;
    background: white;
    display: block;
    padding: 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: 600;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
  }
  .btn-box:hover {
    text-decoration: none;
    color: black;
  }
  .btn-box i {
    display: block;
    margin-bottom: 0.2rem;
  }
  #hc-get {
    margin-bottom: 2rem;
    text-align: left;
  }
#hc-get h2 {
  text-align: center;
  border-bottom: 2px solid #13517e;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
#hc-get h3 {
  margin: 0;
}
.mixed-text  {
  line-height:48px;
  font-size:32px;
}
.mixed-text img {
  display: inline;
}

/*RESPONSIVE QUERIES */
  @media(max-width: 991px){
    .m-hide {
      display: none;
    }
  }
/*END RESPONSIVE QUERIES */
</style>
<!-- HERO -->
<section id="hc-hero">
  <div class="container px-0 al-py-lg">  
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold">AlmaLinux OS Foundation Membership</h1>
        <p class="lead mb-5 mb-md-3">{{ i18n "Join the" }} AlmaLinux OS Foundation {{ i18n "as an individual member or Sponsor member, and own a vote in shaping the future of AlmaLinux OS!" }}</p>
        <p>
            {{ i18n "Membership levels and benefits are" }} <a href="#apply" class="al-guideline-link" target="_blank"> <b>{{ i18n "described below." }}</b> </a>
        </p>
      </div>
      <div class="col-lg-6 imgswitch">
        <img src="/images/certificationimages/certificationpagehero.png">
      </div>
    </div>
  </div>
</section>
<!-- start page content -->
<!-- start member levels -->
<div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4 py-2 py-md-5">
      <div class="col-sm">
            <h4 class="fw-bold mb-0 pb-2">
                {{ i18n "Contributor Member" }}
            </h4>
            <p>
                {{ i18n "An individual application for anyone who uses AlmaLinux OS, contributes to AlmaLinux OS, provides services to the AlmaLinux OS community or otherwise supports the AlmaLinux OS." }}
            </p>
	        <div class="pt-1">
	            <a href="https://docs.google.com/forms/d/e/1FAIpQLScJx_mgkkWgBLr-jF1X6VBizXxQxboy1l5jVS-5eP6d2n5ThA/" class="btn btn-primary al-member-apply-cta" target="_blank">
					<i class="bi bi-people-fill"></i> 
	                {{ i18n "Apply" }}
	            </a>
	        </div>
      </div>
      <div class="col-sm">
            <h4 class="fw-bold mb-0 pb-2">
                {{ i18n "Mirror Sponsor Member" }}
            </h4>
            <p>
                {{ i18n "An individual or entity that provides the project with mirror(s) for content distribution." }} {{ i18n "Only one member application per individual or entity will be accepted, irrespective of contributed number of mirrors." }}
            </p>
	        <div class="pt-1">
	            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdulxH8cv5fzqkIyLanxzvxoBTnrz8Y0JPbseXjzPXRsPT_kQ/" class="btn btn-primary al-member-apply-cta" target="_blank">
					<i class="bi bi-people-fill"></i> 
	                {{ i18n "Apply" }}
	            </a>
	        </div>
      </div>
      <div class="col-sm">
	        <h4 class="fw-bold mb-0 pb-2">{{ i18n "Sponsor Member" }}
	        </h4>
	        <p>
	            {{ i18n "Ideal for companies or organizations who want to contribute funding or resources to the project, and receive benefits from the foundation for that support." }}
	        </p>
	        <div class="pt-1">
	            <a href="https://docs.google.com/forms/d/e/1FAIpQLSddSD32Feb2KUvPTktZNpY_LInyDBRpXxt6XEIjiYIHmP3t7Q/viewform" class="btn btn-primary al-member-apply-cta" target="_blank">
					<i class="bi bi-people-fill"></i> 
	                {{ i18n "Apply" }}
	            </a>
	        </div>
      </div>
    </div>
<!-- end member levels -->

	<div class="container pb-5 mb-5">
	    <div class=" text-center fs-6">
	        {{ i18n "Do you have membership related questions?" }}
	        <a href="mailto:membership@almalinux.org">{{ i18n "Contact us" }}</a>.
	    </div>
	</div>   
<!-- Acts as an anchor for links -->
<div id="apply"></div>

<!-- start member descriptions -->
<h3>{{ i18n "Join" }} AlmaLinux OS Foundation</h6>

<div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{ i18n "Contributor Membership" }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ i18n "Qualification" }}</td>
                        <td>
                            {{ i18n "anyone approved as a contributing member by membership committee based on their contribution to AlmaLinux" }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Term" }}</td>
                        <td>{{ i18n "re-qualified annually" }}</td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Benefits" }}</td>
                        <td>
                            <ul>
                                <li>
                                    {{ i18n "listing on our website in a contributing member list" }}
                                </li>
                                <li>{{ i18n "contributing member AlmaLinux logo" }}</li>
                                <li>{{ i18n "1 vote for a board seat" }}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

</div>


    <div class="al-membership-info" id="al-contributor-info">
        <div class="col p-0 ">

        </div>
    </div>

    <div class="row al-membership-info" id="al-mirror-info">
        <div class="col p-0">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>{{ i18n "Official Mirror Membership" }}</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ i18n "Qualification" }}</td>
                        <td>
                            {{ i18n "acceptance as AlmaLinux mirror by tech committee" }}
                        </td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Term" }}</td>
                        <td>{{ i18n "as long as mirror is operational" }}</td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Benefits" }}</td>
                        <td>
                            {{ i18n "All contributor membership benefits and" }}
                            <ul>
                                <li>{{ i18n "Listing as an official AlmaLinux mirror" }}</li>
                                <li>{{ i18n "Official AlmaLinux mirror logo" }}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row al-membership-info" id="al-sponsor-info">
        <div class="col p-0">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th>Silver Membership</th>
                    <th>Gold Membership</th>
                    <th>Platinum Membership</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{ i18n "All of the" }} Silver membership {{ i18n "benefits, plus..." }}</td>
                        <td>{{ i18n "All of the" }} Gold membership {{ i18n "benefits, plus..." }}</td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Voting benefits" }}</td>
                        <td>{{ i18n "a potential seat on the board of directors" }}
                            <ul>
                                <li>{{ i18n "Opportunity  to nominate someone for election to the board of directors" }}</li>
                                <li>5 {{ i18n "votes for each open board seat" }}</li>
                            </ul>
                        </td>
                        <td>{{ i18n "a potential seat on the board of directors" }}
                            <ul>
                                <li>{{ i18n "Opportunity to nominate someone for election to the board of directors" }}</li>
                                <li>15 {{ i18n "votes for each open board seat" }}</li>
                            </ul>
                        </td>
                        <td>{{ i18n "a potential seat on the board of directors" }}
                            <ul>
                                <li>{{ i18n "Opportunity to nominate someone for election to the board of directors" }}</li>
                                <li>50 {{ i18n "votes for each open board seat" }}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Marketing Benefits" }}</td>
                        <td>
                            <ul>
                                <li>
                                    {{ i18n "Your company logo on AlmaLinux website (in one section/category of the website only)" }}
                                </li>
                                <li>
                                    {{ i18n "Have your company's events featured on our events.almalinux.org community calendar" }}
                                </li>
                                <li>
                                    {{ i18n "Exposure through new Silver member group press releases with social media promotion" }}
                                </li>
                                <li>{{ i18n "AlmaLinux member logo on your site" }}</li>
                                <li>{{ i18n "Inclusion in a round-up of new members" }}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>{{ i18n "Priority access to sponsorship at any AlmaLinux organized events" }}
                                </li>
                                <li>
                                    {{ i18n "Your company logo on AlmaLinux website in up two sections/categories" }}
                                </li>
                                <li>1 {{ i18n "sponsored webinar per year" }}<sup>1</sup></li>
                                <li>{{ i18n "four sponsored blog posts per year" }}<sup>1</sup></li>
                                <li>
                                    {{ i18n "AlmaLinux will assist in promoting your appropriate social media for Linux-related content (e.g. tweets and retweets)" }}<sup>1</sup>
                                </li>
                                <li>
                                    {{ i18n "Membership launch blog announcing your Gold/Platinum membership" }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    {{ i18n "Your company logo on AlmaLinux website in up three sections/categories" }}
                                </li>
                                <li>2 {{ i18n "sponsored webinars per year" }}<sup>1</sup></li>
                                <li>{{ i18n "Dedicated press release announcing membership" }}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Additional Benefits" }}</td>
                        <td></td>
                        <td>
                            <ul>
                                <li>
                                    {{ i18n "Direct access to AlmaLinux executives and staff to help with consultation, planning, and engagement opportunities, including advance information on upcoming announcements and projects" }}
                                </li>
                            </ul>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Fees (Annual)" }}</td>
                        <td>$2,500</td>
                        <td>$20,000</td>
                        <td>$100,000</td>
                    </tr>
                    <tr>
                        <td>{{ i18n "Alternative contribution" }}</td>
                        <td>
                            {{ i18n "per membership committee confirmation: Any contribution of hardware or services based on board approval" }}
                        </td>
                        <td>{{ i18n "per board of directors confirmation:" }}
                            <ul>
                                <li>{{ i18n "One dedicated FTE working on AlmaLinux" }}</li>
                                {{ i18n "or" }}
                                <li>
                                    {{ i18n "annual service credits or hardware donation valued at $20,000 or more" }}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{ i18n "per board of directors confirmation:" }}
                            <ul>
                                <li>{{ i18n "Three dedicated FTE working on AlmaLinux" }}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<!-- end sponsor member descriptions -->
        
            <div class="container al-members">
                <div class="row">
                    <div class="col-12">
                        <h6 class="pb-2 mb-5 border-bottom text-uppercase">
                            {{ i18n "Board of Directors" }}
                        </h6>
                    </div>
<!-- benny -->						
                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="py-5 px-4 text-center al-member-item">
                                <div>
                                    <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/benny.jpg" alt="benny Vasquez" style="max-width: 180px;">
                                </div>
                                <h5 class="mb-1">benny Vasquez</h5>
                                <div class="small mb-1">Chair, Board of Directors</div>
                                <div class="small fw-light">AlmaLinux OS Foundation</div>
                            </div>
                        </div>
<!-- end benny -->						
<!-- Jack -->						
                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="py-5 px-4 text-center al-member-item">
                                <div>
                                    <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/jack.jpg" alt="Jack Aboutboul" style="max-width: 180px;">
                                </div>
                                <h5 class="mb-1">Jack Aboutboul</h5>
                                <div class="small mb-1">AlmaLinux OS Community Manager</div>
                                <div class="small fw-light">Microsoft, Inc</div>
                            </div>
                        </div>
<!-- end Jack -->						
<!-- Jesse -->						
                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="py-5 px-4 text-center al-member-item">
                                <div>
                                    <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/jesse.jpg" alt="Jesse Asklund" style="max-width: 180px;">
                                </div>
                                <h5 class="mb-1">Jesse Asklund</h5>
                                <div class="small mb-1">{{ i18n "Global head of Customer Experience" }}</div>
                                <div class="small fw-light">WebPros</div>
                            </div>
                        </div>
<!-- end Jesse -->						
<!-- Simon -->						
                        <div class="col-xl-3 col-sm-6 mb-5">
                            <div class="py-5 px-4 text-center al-member-item">
                                <div>
                                    <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/simon.jpg" alt="Simon Phipps" style="max-width: 180px;">
                                </div>
                                <h5 class="mb-1">Simon Phipps</h5>
                                <div class="small mb-1">{{ i18n "open source advocate and a former president of the" }} Open Source Initiative</div>
                                <div class="small fw-light"></div>
                            </div>
                        </div>
<!-- end Simon -->						
<!-- Moshe -->						
     				 <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="py-5 px-4 text-center al-member-item">
                            <div>
                                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/default.png" alt="AlmaLinux OS Logo" style="max-width: 180px;">
                            </div>
                            	<h5 class="mb-1">Moshe Bar</h5>
                                <div class="small mb-1">{{ i18n "CEO" }} </div>
                                <div class="small fw-light">Codenotary Inc.</div>
                        </div>
                     </div>
<!-- end Moshe -->						
<!-- Daniel -->						
                     <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="py-5 px-4 text-center al-member-item">
                            <div>
                                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/daniel.jpeg" alt="Daniel Pearson" style="max-width: 180px;">
                            </div>
                           		<h5 class="mb-1">Daniel Pearson</h5>
                                <div class="small mb-1">{{ i18n "CEO" }}</div>
                                <div class="small fw-light">KnownHost</div>
                        </div>
                     </div>
<!-- end Daniel -->		
<!-- Jun -->						
                     <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="py-5 px-4 text-center al-member-item">
                            <div>
                                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/JunYoshida.jpg" alt="Jun Yoshida" style="max-width: 180px;">
                            </div>
                           		<h5 class="mb-1">Jun Yoshida</h5>
                                <div class="small mb-1">{{ i18n "Corporate Officer" }}</div>
                                <div class="small fw-light">Cybertrust Japan</div>
                        </div>
                     </div>
<!-- end Jun -->		
<!-- Alex -->						
                     <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="py-5 px-4 text-center al-member-item">
                            <div>
                                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/alexiribarren.jpg" alt="Alex Iribarren" style="max-width: 180px;">
                            </div>
                           		<h5 class="mb-1">Alex Iribarren</h5>
                                <div class="small mb-1">{{ i18n "Penguin Wrangler and Cloud Watcher" }}</div>
                                <div class="small fw-light">CERN</div>
                        </div>
                     </div>
<!-- end Alex -->		
<!-- David -->						
                     <div class="col-xl-3 col-sm-6 mb-5">
                        <div class="py-5 px-4 text-center al-member-item">
                            <div>
                                <img class="img-fluid rounded-circle mb-3 img-thumbnail" src="/board/davidsnead.jpg" alt="David Snead" style="max-width: 180px;">
                            </div>
                           		<h5 class="mb-1">David Snead</h5>
                                <div class="small mb-1">{{ i18n "General Counsel" }}</div>
                                <div class="small fw-light">Webpros</div>
                                <div class="small fw-light">Non-voting Invited Expert</div>
                        </div>
                     </div>
<!-- end David -->	                    
                </div>
            </div>
        
    </section>

{{ end }}
