{{ define "main" }}
  {{ partial "event-day/styles.html" . }}
  <section>
    <div class="al-body-container">
      <section class="al-page-index">
        {{ partial "event-day/hero.html" . }}
        <div class="al-index-register">
          <div class="container al-py-md px-5">
            {{ .Content }}
          </div>
        </div>
        {{ partial "event-day/speakers.html" . }}
        {{ partial "event-day/sponsors.html" . }}
        {{ partial "event-day/cant-make-it.html" . }}
        {{ partial "event-day/footer-bar.html" . }}
      </section>
    </div>
  </section>
{{ end }}
